

<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Class Shirts T-Shirt Design Ideas and Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
		

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        
  
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a  href="../../index.php">HOME</a>
                                        
                                        <li class="dropdown">
                                            <a  href="../../Adult.php">ADULT</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../WOMEN.php">WOMEN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../YOUTH.php">YOUTH</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../OUR DESIGNS.php">OUR DESIGN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Option 1</a>
                                                <br>
                                                <a href="#">Option 2</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                    <li class="dropdown">
                                        <a href="../../Create.php">CREATE</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="active" href="../../TEMPLATES.php">TEMPLATES</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a  href="../../HELP.php">HELP</a>
                                        <div class="dropdown-content">
                                            <a href="../../FAQS.php">FAQS</a>
                                            <br>
                                            <a href="../../SHIPPING.php">SHIPPING</a>
                                            <br>
                                            <a href="../../RETURNS.php">RETURNS</a>
                                            <br>
                                            <a href="../../CONTACT.php">CONTACT US</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>


	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> Sports
				<span></span> Baseball
            </div>
        </div>
    </div>
	<main id="content" class="main wrapper">
		

<div class="templates">
	<h1 class="u-bar">Baseball Design Templates</h1>
	<nav>
		<ul class="breadcrumbs">
			<li><a href="../../templates.php">All Categories</a></li>
					<li><a href="../category/sports.php">Sports</a></li>
				<li>Baseball</li>
		</ul>
	</nav>
		<ul class="template-list">
				<li>
					<a href="../../studio1944.php?tid=11390"><img src="../../user-content/users/images/0/372000/372621/11231617_1_zoom.jpg" alt="Baseball t-shirt design 1" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio17f3.php?tid=11392"><img src="../../user-content/users/images/0/372000/372621/11231613_1_zoom.jpg" alt="Baseball t-shirt design 2" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7b38.php?tid=11393"><img src="../../user-content/users/images/0/372000/372621/11231612_1_zoom.jpg" alt="Baseball t-shirt design 3" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio20bf.php?tid=11585"><img src="../../user-content/users/images/0/372000/372621/11779987_1_zoom.jpg" alt="Baseball t-shirt design 4" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob736.php?tid=9333"><img src="../../user-content/users/images/0/372000/372621/5782487_1_zoom.jpg" alt="Baseball t-shirt design 5" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio31df.php?tid=9334"><img src="../../user-content/users/images/0/372000/372621/5782499_1_zoom.jpg" alt="Baseball t-shirt design 6" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7af7.php?tid=9337"><img src="../../user-content/users/images/0/372000/372621/5782589_1_zoom.jpg" alt="Baseball t-shirt design 7" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod2e3.php?tid=9345"><img src="../../user-content/users/images/0/372000/372621/5816271_1_zoom.jpg" alt="Baseball t-shirt design 8" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio38b4.php?tid=9491"><img src="../../user-content/users/images/0/372000/372621/5917024_1_zoom.jpg" alt="Baseball t-shirt design 9" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio838a.php?tid=9696"><img src="../../user-content/users/images/0/372000/372621/6218113_1_zoom.jpg" alt="Baseball t-shirt design 10" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8570.php?tid=9700"><img src="../../user-content/users/images/0/372000/372621/6218505_1_zoom.jpg" alt="Baseball t-shirt design 11" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio70f2.php?tid=11381"><img src="../../user-content/users/images/0/372000/372621/7195590_1_zoom.jpg" alt="Baseball t-shirt design 12" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6881.php?tid=11382"><img src="../../user-content/users/images/0/372000/372621/7195569_1_zoom.jpg" alt="Baseball t-shirt design 13" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiocc52.php?tid=11383"><img src="../../user-content/users/images/0/372000/372621/7195548_1_zoom.jpg" alt="Baseball t-shirt design 14" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc0b9.php?tid=11384"><img src="../../user-content/users/images/0/372000/372621/7195536_1_zoom.jpg" alt="Baseball t-shirt design 15" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio38ab.php?tid=11386"><img src="../../user-content/users/images/0/372000/372621/7195517_1_zoom.jpg" alt="Baseball t-shirt design 16" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc54b.php?tid=11387"><img src="../../user-content/users/images/0/372000/372621/7195511_1_zoom.jpg" alt="Baseball t-shirt design 17" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiobd6e.php?tid=11388"><img src="../../user-content/users/images/0/372000/372621/7195506_1_zoom.jpg" alt="Baseball t-shirt design 18" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioda8b.php?tid=11389"><img src="../../user-content/users/images/0/372000/372621/11231622_1_zoom.jpg" alt="Baseball t-shirt design 19" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio48a3.php?tid=11385"><img src="../../user-content/users/images/0/372000/372621/7195529_1_zoom.jpg" alt="Baseball t-shirt design 20" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0c04.php?tid=9701"><img src="../../user-content/users/images/0/372000/372621/6218492_1_zoom.jpg" alt="Baseball t-shirt design 21" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioabd6.php?tid=9703"><img src="../../user-content/users/images/0/372000/372621/6218307_1_zoom.jpg" alt="Baseball t-shirt design 22" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob606.php?tid=9704"><img src="../../user-content/users/images/0/372000/372621/6218284_1_zoom.jpg" alt="Baseball t-shirt design 23" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiobe58.php?tid=9705"><img src="../../user-content/users/images/0/372000/372621/6218214_1_zoom.jpg" alt="Baseball t-shirt design 24" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio75c1.php?tid=9698"><img src="../../user-content/users/images/0/372000/372621/6218630_1_zoom.jpg" alt="Baseball t-shirt design 25" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0106.php?tid=9707"><img src="../../user-content/users/images/0/372000/372621/6218138_1_zoom.jpg" alt="Baseball t-shirt design 26" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiodf31.php?tid=9692"><img src="../../user-content/users/images/0/372000/372621/6218541_1_zoom.jpg" alt="Baseball t-shirt design 27" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5f11.php?tid=9693"><img src="../../user-content/users/images/0/372000/372621/6218508_1_zoom.jpg" alt="Baseball t-shirt design 28" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1d44.php?tid=9694"><img src="../../user-content/users/images/0/372000/372621/6218602_1_zoom.jpg" alt="Baseball t-shirt design 29" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8db7.php?tid=9695"><img src="../../user-content/users/images/0/372000/372621/6218561_1_zoom.jpg" alt="Baseball t-shirt design 30" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9bad.php?tid=9346"><img src="../../user-content/users/images/0/372000/372621/5816278_1_zoom.jpg" alt="Baseball t-shirt design 31" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1901.php?tid=9347"><img src="../../user-content/users/images/0/372000/372621/5816281_1_zoom.jpg" alt="Baseball t-shirt design 32" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3e49.php?tid=9348"><img src="../../user-content/users/images/0/372000/372621/5816288_1_zoom.jpg" alt="Baseball t-shirt design 33" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2b32.php?tid=9343"><img src="../../user-content/users/images/0/372000/372621/5784926_1_zoom.jpg" alt="Baseball t-shirt design 34" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod6fb.php?tid=9338"><img src="../../user-content/users/images/0/372000/372621/5782610_1_zoom.jpg" alt="Baseball t-shirt design 35" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioca12.php?tid=9339"><img src="../../user-content/users/images/0/372000/372621/5782658_1_zoom.jpg" alt="Baseball t-shirt design 36" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioba68.php?tid=9340"><img src="../../user-content/users/images/0/372000/372621/5782676_1_zoom.jpg" alt="Baseball t-shirt design 37" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio96b6.php?tid=9341"><img src="../../user-content/users/images/0/372000/372621/5782766_1_zoom.jpg" alt="Baseball t-shirt design 38" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioefbb.php?tid=9335"><img src="../../user-content/users/images/0/372000/372621/5782518_1_zoom.jpg" alt="Baseball t-shirt design 39" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof0e5.php?tid=9336"><img src="../../user-content/users/images/0/372000/372621/5782584_1_zoom.jpg" alt="Baseball t-shirt design 40" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6749.php?tid=9222"><img src="../../user-content/users/images/0/372000/372621/5573867_1_zoom.jpg" alt="Baseball t-shirt design 41" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod9de.php?tid=9224"><img src="../../user-content/users/images/0/372000/372621/5573570_1_zoom.jpg" alt="Baseball t-shirt design 42" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc65a.php?tid=11394"><img src="../../user-content/users/images/0/372000/372621/11231610_1_zoom.jpg" alt="Baseball t-shirt design 43" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe2f0.php?tid=11391"><img src="../../user-content/users/images/0/372000/372621/11231615_1_zoom.jpg" alt="Baseball t-shirt design 44" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioec7a.php?tid=7849"><img src="../../user-content/users/images/0/372000/372621/3620985_1_zoom.jpg" alt="Baseball t-shirt design 45" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio669c.php?tid=7376"><img src="../../user-content/users/images/0/372000/372621/3519079_1_zoom.jpg" alt="Baseball t-shirt design 46" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio264b.php?tid=7377"><img src="../../user-content/users/images/0/372000/372621/3519074_1_zoom.jpg" alt="Baseball t-shirt design 47" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio43e5.php?tid=9344"><img src="../../user-content/users/images/0/372000/372621/5816262_1_zoom.jpg" alt="Baseball t-shirt design 48" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2c52.php?tid=7854"><img src="../../user-content/users/images/0/372000/372621/3621047_1_zoom.jpg" alt="Baseball t-shirt design 49" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9e15.php?tid=9697"><img src="../../user-content/users/images/0/372000/372621/6218651_1_zoom.jpg" alt="Baseball t-shirt design 50" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5b6f.php?tid=9492"><img src="../../user-content/users/images/0/372000/372621/5856452_1_zoom.jpg" alt="Baseball t-shirt design 51" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1f17.php?tid=9708"><img src="../../user-content/users/images/0/372000/372621/6218123_1_zoom.jpg" alt="Baseball t-shirt design 52" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa58e.php?tid=9699"><img src="../../user-content/users/images/0/372000/372621/6218582_1_zoom.jpg" alt="Baseball t-shirt design 53" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4a67.php?tid=9706"><img src="../../user-content/users/images/0/372000/372621/6218184_1_zoom.jpg" alt="Baseball t-shirt design 54" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3d73.php?tid=7717"><img src="../../user-content/users/images/0/372000/372621/3573668_1_zoom.jpg" alt="Baseball t-shirt design 55" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob567.php?tid=2043"><img src="../../user-content/users/images/0/372000/372621/998701_1_zoom.jpg" alt="Baseball t-shirt design 56" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5b50.php?tid=7719"><img src="../../user-content/users/images/0/372000/372621/3573707_1_zoom.jpg" alt="Baseball t-shirt design 57" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8c46.php?tid=4917"><img src="../../user-content/users/images/0/372000/372621/1014161_1_zoom.jpg" alt="Baseball t-shirt design 58" width="261" height="288"/></a>
				</li>
		</ul>
</div>
	</main>
	<footer class="main">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-twitter.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
                                <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>



<script src="../../js/bundles/js/common378a"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>