
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>School Clubs T-Shirt Design Ideas and Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
		

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        
  
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a  href="../../index.php">HOME</a>
                                        
                                        <li class="dropdown">
                                            <a  href="../../Adult.php">ADULT</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../WOMEN.php">WOMEN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../YOUTH.php">YOUTH</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../OUR DESIGNS.php">OUR DESIGN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Option 1</a>
                                                <br>
                                                <a href="#">Option 2</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                    <li class="dropdown">
                                        <a href="../../Create.php">CREATE</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="active" href="../../TEMPLATES.php">TEMPLATES</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a  href="../../HELP.php">HELP</a>
                                        <div class="dropdown-content">
                                            <a href="../../FAQS.php">FAQS</a>
                                            <br>
                                            <a href="../../SHIPPING.php">SHIPPING</a>
                                            <br>
                                            <a href="../../RETURNS.php">RETURNS</a>
                                            <br>
                                            <a href="../../CONTACT.php">CONTACT US</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>


	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> School
            </div>
        </div>
    </div>
	<main id="content" class="main wrapper">
		

<div class="templates">
	<h1 class="u-bar">School Clubs Design Templates</h1>
	<nav>
		<ul class="breadcrumbs">
			<li><a href="../../templates.php">All Categories</a></li>
					<li><a href="../category/school.php">School</a></li>
				<li>School Clubs</li>
		</ul>
	</nav>
		<ul class="template-list">
				<li>
					<a href="../../studio2ec2.php?tid=11185"><img src="../../user-content/users/images/2000000/2993000/2993536/9356884_1_zoom.jpg" alt="School Clubs t-shirt design 1" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob617.php?tid=11186"><img src="../../user-content/users/images/2000000/2993000/2993536/9356866_1_zoom.jpg" alt="School Clubs t-shirt design 2" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3b7b.php?tid=11187"><img src="../../user-content/users/images/2000000/2993000/2993536/9356860_1_zoom.jpg" alt="School Clubs t-shirt design 3" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio489d.php?tid=11188"><img src="../../user-content/users/images/2000000/2993000/2993536/9356854_1_zoom.jpg" alt="School Clubs t-shirt design 4" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4759.php?tid=11189"><img src="../../user-content/users/images/2000000/2993000/2993536/9356844_1_zoom.jpg" alt="School Clubs t-shirt design 5" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5382.php?tid=11190"><img src="../../user-content/users/images/2000000/2993000/2993536/9356814_1_zoom.jpg" alt="School Clubs t-shirt design 6" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1c5c.php?tid=11196"><img src="../../user-content/users/images/2000000/2993000/2993536/9356731_1_zoom.jpg" alt="School Clubs t-shirt design 7" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3823.php?tid=11197"><img src="../../user-content/users/images/2000000/2993000/2993536/9356716_1_zoom.jpg" alt="School Clubs t-shirt design 8" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio20e1.php?tid=11198"><img src="../../user-content/users/images/2000000/2993000/2993536/9356682_1_zoom.jpg" alt="School Clubs t-shirt design 9" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7f87.php?tid=11191"><img src="../../user-content/users/images/2000000/2993000/2993536/9356785_1_zoom.jpg" alt="School Clubs t-shirt design 10" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe6bd.php?tid=11163"><img src="../../user-content/users/images/2000000/2993000/2993536/9357256_1_zoom.jpg" alt="School Clubs t-shirt design 11" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof903.php?tid=11164"><img src="../../user-content/users/images/2000000/2993000/2993536/9357249_1_zoom.jpg" alt="School Clubs t-shirt design 12" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio989d.php?tid=11165"><img src="../../user-content/users/images/2000000/2993000/2993536/9357056_1_zoom.jpg" alt="School Clubs t-shirt design 13" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa215.php?tid=11166"><img src="../../user-content/users/images/2000000/2993000/2993536/9357051_1_zoom.jpg" alt="School Clubs t-shirt design 14" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio606c.php?tid=11167"><img src="../../user-content/users/images/2000000/2993000/2993536/9357042_1_zoom.jpg" alt="School Clubs t-shirt design 15" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6465.php?tid=11168"><img src="../../user-content/users/images/2000000/2993000/2993536/9357038_1_zoom.jpg" alt="School Clubs t-shirt design 16" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio220e.php?tid=11169"><img src="../../user-content/users/images/2000000/2993000/2993536/9357024_1_zoom.jpg" alt="School Clubs t-shirt design 17" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0e6e.php?tid=11170"><img src="../../user-content/users/images/2000000/2993000/2993536/9357013_1_zoom.jpg" alt="School Clubs t-shirt design 18" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9118.php?tid=11171"><img src="../../user-content/users/images/2000000/2993000/2993536/9357009_1_zoom.jpg" alt="School Clubs t-shirt design 19" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6403.php?tid=11172"><img src="../../user-content/users/images/2000000/2993000/2993536/9357005_1_zoom.jpg" alt="School Clubs t-shirt design 20" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob47e.php?tid=11173"><img src="../../user-content/users/images/2000000/2993000/2993536/9356996_1_zoom.jpg" alt="School Clubs t-shirt design 21" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiofbd6.php?tid=11174"><img src="../../user-content/users/images/2000000/2993000/2993536/9356986_1_zoom.jpg" alt="School Clubs t-shirt design 22" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod936.php?tid=11175"><img src="../../user-content/users/images/2000000/2993000/2993536/9356980_1_zoom.jpg" alt="School Clubs t-shirt design 23" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio177a.php?tid=11192"><img src="../../user-content/users/images/2000000/2993000/2993536/9356767_1_zoom.jpg" alt="School Clubs t-shirt design 24" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5f01.php?tid=11193"><img src="../../user-content/users/images/2000000/2993000/2993536/9356760_1_zoom.jpg" alt="School Clubs t-shirt design 25" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio778c.php?tid=11194"><img src="../../user-content/users/images/2000000/2993000/2993536/9356746_1_zoom.jpg" alt="School Clubs t-shirt design 26" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5ddd.php?tid=11195"><img src="../../user-content/users/images/2000000/2993000/2993536/9356735_1_zoom.jpg" alt="School Clubs t-shirt design 27" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa9a0.php?tid=11176"><img src="../../user-content/users/images/2000000/2993000/2993536/9356975_1_zoom.jpg" alt="School Clubs t-shirt design 28" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7301.php?tid=11177"><img src="../../user-content/users/images/2000000/2993000/2993536/9356968_1_zoom.jpg" alt="School Clubs t-shirt design 29" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio36ad.php?tid=11178"><img src="../../user-content/users/images/2000000/2993000/2993536/9356958_1_zoom.jpg" alt="School Clubs t-shirt design 30" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio962d.php?tid=11179"><img src="../../user-content/users/images/2000000/2993000/2993536/9356954_1_zoom.jpg" alt="School Clubs t-shirt design 31" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioabae.php?tid=11180"><img src="../../user-content/users/images/2000000/2993000/2993536/9356948_1_zoom.jpg" alt="School Clubs t-shirt design 32" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio793e.php?tid=11181"><img src="../../user-content/users/images/2000000/2993000/2993536/9356931_1_zoom.jpg" alt="School Clubs t-shirt design 33" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio935b.php?tid=11182"><img src="../../user-content/users/images/2000000/2993000/2993536/9356922_1_zoom.jpg" alt="School Clubs t-shirt design 34" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4133.php?tid=11183"><img src="../../user-content/users/images/2000000/2993000/2993536/9356907_1_zoom.jpg" alt="School Clubs t-shirt design 35" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1edc.php?tid=11184"><img src="../../user-content/users/images/2000000/2993000/2993536/9356894_1_zoom.jpg" alt="School Clubs t-shirt design 36" width="261" height="288"/></a>
				</li>
		</ul>
</div>
	</main>
	<footer class="main">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-twitter.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
                                <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>



<script src="../../js/bundles/js/common378a"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>