

<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Class Shirts T-Shirt Design Ideas and Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
		

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        
  
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a  href="../../index.php">HOME</a>
                                        
                                        <li class="dropdown">
                                            <a  href="../../Adult.php">ADULT</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../WOMEN.php">WOMEN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../YOUTH.php">YOUTH</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../OUR DESIGNS.php">OUR DESIGN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Option 1</a>
                                                <br>
                                                <a href="#">Option 2</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                    <li class="dropdown">
                                        <a href="../../Create.php">CREATE</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="active" href="../../TEMPLATES.php">TEMPLATES</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a  href="../../HELP.php">HELP</a>
                                        <div class="dropdown-content">
                                            <a href="../../FAQS.php">FAQS</a>
                                            <br>
                                            <a href="../../SHIPPING.php">SHIPPING</a>
                                            <br>
                                            <a href="../../RETURNS.php">RETURNS</a>
                                            <br>
                                            <a href="../../CONTACT.php">CONTACT US</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>


	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> Sports
				<span></span> Baseball
            </div>
        </div>
    </div>
	<main id="content" class="main wrapper">
		

<div class="templates">
	<h1 class="u-bar">Fishing Design Templates</h1>
	<nav>
		<ul class="breadcrumbs">
			<li><a href="../../templates.php">All Categories</a></li>
					<li><a href="../category/sports.php">Sports</a></li>
				<li>Fishing</li>
		</ul>
	</nav>
		<ul class="template-list">
				<li>
					<a href="../../studio40e8.php?tid=9646"><img src="../../user-content/users/images/0/368000/368335/6019874_1_zoom.jpg" alt="Fishing t-shirt design 1" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio815a.php?tid=9647"><img src="../../user-content/users/images/0/368000/368335/6019888_1_zoom.jpg" alt="Fishing t-shirt design 2" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7472.php?tid=11515"><img src="../../user-content/users/images/0/368000/368335/11460922_1_zoom.jpg" alt="Fishing t-shirt design 3" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6702.php?tid=11525"><img src="../../user-content/users/images/0/368000/368335/11462637_1_zoom.jpg" alt="Fishing t-shirt design 4" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1897.php?tid=11590"><img src="../../user-content/users/images/0/368000/368335/11827572_1_zoom.jpg" alt="Fishing t-shirt design 5" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod1bf.php?tid=11591"><img src="../../user-content/users/images/0/368000/368335/11827557_1_zoom.jpg" alt="Fishing t-shirt design 6" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio592b.php?tid=11592"><img src="../../user-content/users/images/0/368000/368335/11827550_1_zoom.jpg" alt="Fishing t-shirt design 7" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6275.php?tid=11593"><img src="../../user-content/users/images/0/368000/368335/11827548_1_zoom.jpg" alt="Fishing t-shirt design 8" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiocaae.php?tid=11594"><img src="../../user-content/users/images/0/368000/368335/11827536_1_zoom.jpg" alt="Fishing t-shirt design 9" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1f06.php?tid=11595"><img src="../../user-content/users/images/0/368000/368335/11827522_1_zoom.jpg" alt="Fishing t-shirt design 10" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2b7b.php?tid=11664"><img src="../../user-content/users/images/0/368000/368335/12060569_1_zoom.jpg" alt="Fishing t-shirt design 11" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod0d3.php?tid=11665"><img src="../../user-content/users/images/0/368000/368335/12060571_1_zoom.jpg" alt="Fishing t-shirt design 12" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5d58.php?tid=9649"><img src="../../user-content/users/images/0/368000/368335/6019896_1_zoom.jpg" alt="Fishing t-shirt design 13" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2563.php?tid=9664"><img src="../../user-content/users/images/0/368000/368335/6126845_1_zoom.jpg" alt="Fishing t-shirt design 14" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioae1a.php?tid=9648"><img src="../../user-content/users/images/0/368000/368335/6019889_1_zoom.jpg" alt="Fishing t-shirt design 15" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2a82.php?tid=9274"><img src="../../user-content/users/images/0/368000/368335/5589093_2_zoom.jpg" alt="Fishing t-shirt design 16" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiobff2.php?tid=9275"><img src="../../user-content/users/images/0/368000/368335/5589085_1_zoom.jpg" alt="Fishing t-shirt design 17" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioef8d.php?tid=8976"><img src="../../user-content/users/images/0/368000/368335/4673200_1_zoom.jpg" alt="Fishing t-shirt design 18" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3273.php?tid=9666"><img src="../../user-content/users/images/0/368000/368335/6126825_1_zoom.jpg" alt="Fishing t-shirt design 19" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio68e5.php?tid=9668"><img src="../../user-content/users/images/0/368000/368335/6126869_1_zoom.jpg" alt="Fishing t-shirt design 20" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8194.php?tid=9669"><img src="../../user-content/users/images/0/368000/368335/6126862_1_zoom.jpg" alt="Fishing t-shirt design 21" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob03f.php?tid=10076"><img src="../../user-content/users/images/0/368000/368335/6245525_1_zoom.jpg" alt="Fishing t-shirt design 22" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio787b.php?tid=10077"><img src="../../user-content/users/images/0/368000/368335/6245517_1_zoom.jpg" alt="Fishing t-shirt design 23" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0a9c.php?tid=10078"><img src="../../user-content/users/images/0/368000/368335/6245509_1_zoom.jpg" alt="Fishing t-shirt design 24" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe46d.php?tid=10079"><img src="../../user-content/users/images/0/368000/368335/6245502_1_zoom.jpg" alt="Fishing t-shirt design 25" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio25f1.php?tid=10080"><img src="../../user-content/users/images/0/368000/368335/6245496_1_zoom.jpg" alt="Fishing t-shirt design 26" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio47ad.php?tid=10081"><img src="../../user-content/users/images/0/368000/368335/6245490_1_zoom.jpg" alt="Fishing t-shirt design 27" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9c84.php?tid=10082"><img src="../../user-content/users/images/0/368000/368335/6245483_1_zoom.jpg" alt="Fishing t-shirt design 28" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1ac3.php?tid=10083"><img src="../../user-content/users/images/0/368000/368335/6245463_1_zoom.jpg" alt="Fishing t-shirt design 29" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4116.php?tid=10084"><img src="../../user-content/users/images/0/368000/368335/6245457_1_zoom.jpg" alt="Fishing t-shirt design 30" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8577.php?tid=10085"><img src="../../user-content/users/images/0/368000/368335/6245449_1_zoom.jpg" alt="Fishing t-shirt design 31" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob1b6.php?tid=10086"><img src="../../user-content/users/images/0/368000/368335/6245444_1_zoom.jpg" alt="Fishing t-shirt design 32" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio672b.php?tid=10087"><img src="../../user-content/users/images/0/368000/368335/6239346_1_zoom.jpg" alt="Fishing t-shirt design 33" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio073f.php?tid=10088"><img src="../../user-content/users/images/0/368000/368335/6239341_1_zoom.jpg" alt="Fishing t-shirt design 34" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio909f.php?tid=11514"><img src="../../user-content/users/images/0/368000/368335/11460918_1_zoom.jpg" alt="Fishing t-shirt design 35" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof447.php?tid=9271"><img src="../../user-content/users/images/0/368000/368335/5589102_1_zoom.jpg" alt="Fishing t-shirt design 36" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8a91.php?tid=9272"><img src="../../user-content/users/images/0/368000/368335/5589098_2_zoom.jpg" alt="Fishing t-shirt design 37" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9733.php?tid=8247"><img src="../../user-content/users/images/0/368000/368335/3722568_1_zoom.jpg" alt="Fishing t-shirt design 38" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio421b.php?tid=8248"><img src="../../user-content/users/images/0/368000/368335/3722551_1_zoom.jpg" alt="Fishing t-shirt design 39" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioecd5.php?tid=9276"><img src="../../user-content/users/images/0/368000/368335/5589165_1_zoom.jpg" alt="Fishing t-shirt design 40" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8ef0.php?tid=9665"><img src="../../user-content/users/images/0/368000/368335/6126834_1_zoom.jpg" alt="Fishing t-shirt design 41" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiodb75.php?tid=9650"><img src="../../user-content/users/images/0/368000/368335/6019903_1_zoom.jpg" alt="Fishing t-shirt design 42" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc2ca.php?tid=8250"><img src="../../user-content/users/images/0/368000/368335/3722533_2_zoom.jpg" alt="Fishing t-shirt design 43" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiocb0f.php?tid=5378"><img src="../../user-content/users/images/0/368000/368335/1877738_1_zoom.jpg" alt="Fishing t-shirt design 44" width="261" height="288"/></a>
				</li>
		</ul>
</div>
	</main>
	<footer class="main">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-twitter.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
                                <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>



<script src="../../js/bundles/js/common378a"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>