
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Funny T-Shirt Design Ideas and Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #77D6DB;
            min-width: 125px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
		
		<style>
			.glow-on-hover {
			width: 125px;
			height: auto;
			border: none;
			outline: none;
			color: #000000;
			background: #111;
			cursor: pointer;
			position: relative;
			z-index: 0;
			border-radius: 10px;
		}
		
		.glow-on-hover:before {
			content: '';
			background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
			position: absolute;
			top: -2px;
			left:-2px;
			background-size: 400%;
			z-index: -1;
			filter: blur(5px);
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			animation: glowing 20s linear infinite;
			opacity: 0;
			transition: opacity .3s ease-in-out;
			border-radius: 10px;
		}
		
		.glow-on-hover:active {
    color: #77D6DB;
			color: #ffffff
		}
		
		.glow-on-hover:active:after {
			background: transparent;
		}
		
		.glow-on-hover:hover:before {
			opacity: 1;
		}
		
		.glow-on-hover:after {
			z-index: -1;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: #77D6DB;
			left: 0;
			top: 0;
			border-radius: 10px;
		}
		
		@keyframes glowing {
			0% { background-position: 0 0; }
			50% { background-position: 400% 0; }
			100% { background-position: 0 0; }
		}
		
		
		  </style>
		  
		
	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
							<nav>
                                <ul>
                                    <li>
										<a  href="../../index.php">  <button class="glow-on-hover" type="button">  Home</button></a>
                                    </li>
                                        <li class="dropdown">
											<a href="../../Adult.php"> <button class="glow-on-hover" type="button">  Adult</button></a>
                                            <div class="dropdown-content">
												<a href="../../Adult-Shirt.php">   <button class="glow-on-hover" type="button">  Short-sleeve</button></a>
                                                <br>
												<a href="..//Adult-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
												<a href="../../Adult-Hoodies.php"> <button class="glow-on-hover" type="button">  Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../WOMEN.php"> <button class="glow-on-hover" type="button">  Woman</button></a>
                                            <div class="dropdown-content">
												<a href="../../Women-Shirt.php"> <button class="glow-on-hover" type="button">  Short-sleeve</button></a>
                                                <br>
												<a href="../../women-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
												<a href="../../Women-Hoodies.php"> <button class="glow-on-hover" type="button">  Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../YOUTH.php"> <button class="glow-on-hover" type="button">  Youth</button></a>
                                            <div class="dropdown-content">
                                                <a href="../../Youth-Shirt.php"> <button class="glow-on-hover" type="button"> Short-sleeve</button></a>
                                                <br>
												<a href="../../Youth-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
                                                <a href="../../Youth-Hoodies.php"> <button class="glow-on-hover" type="button"> Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../OUR DESIGNS.php"> <button class="glow-on-hover" type="button">  Our Design</button></a>
                                            <div class="dropdown-content">
												<a href="../../#"> <button class="glow-on-hover" type="button">  Option 1</button></a>
                                                <br>
												<a href="../../#">  <button class="glow-on-hover" type="button">  Option 2</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../Create.php">  <button class="glow-on-hover" type="button">  Create</button></a>
                                           
                                        </li>
                                        <li class="dropdown">
											<a class="active" href="../../TEMPLATES.php">  <button class="glow-on-hover" type="button">  Templates</button></a>
											<div class="dropdown-content">
												<a href="../graphix_wizard/Template/search/popularb31a.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/popular.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Popular</div>
												</button>
											</a>
												
											<a href="../graphix_wizard/Template/category/sports.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/sports.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Sports</div>
												</button>
											</a>
	 
											<a href="../graphix_wizard/Template/category/event.php">  <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/events.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Events</div>
											   
												</button> </a>
	 
												<a href="../graphix_wizard/Template/category/greek.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/greek.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Greek</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/school.php"> <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/school.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">School</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/holidays.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/holidays.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Holidays</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/occupations.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/occupations.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Occupations</div>
											   
												</button> </a>
	 
												<a href="../graphix_wizard/Template/category/religion.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/religion.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Religion</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/vacation.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/vacation.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Vacation</div>
												
												</button></a>
	 
												<a class="active" href="../graphix_wizard/Template/search/funny3f7b.php"> <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/funny.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Funny</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/search/geek81ea.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/geek.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Geek</div>
											   
												</button> </a>
											 </div>
										</li>
										<li class="dropdown">
											<a href="../../HELP.php"> <button class="glow-on-hover" type="button">  HELP</button></a>
											<div class="dropdown-content">
												<a  href="../../FAQS.php"> <button class="glow-on-hover" type="button">  FAQS</button></a>
												<br>
												<a href="../../SHIPPING.php"> <button class="glow-on-hover" type="button">  SHIPPING</button></a>
												<br>
												<a href="../../RETURNS.php"> <button class="glow-on-hover" type="button">  RETURNS</button></a>
												<br>
												<a href="../../CONTACT.php"> <button class="glow-on-hover" type="button">  CONTACT US</button></a>
											</div>
										</li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>


	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> Funny
            </div>
        </div>
    </div>

	<main id="content" class="main wrapper">
		

<div class="templates">
	<h1 class="u-bar">Funny Design Templates</h1>
	<nav>
		<ul class="breadcrumbs">
			<li><a href="../../templates.php">All Categories</a></li>
				<li>Funny</li>
		</ul>
	</nav>
		<ul class="template-list">
				<li>
					<a href="../../studiof843.php?tid=9236"><img src="../../user-content/users/images/0/366000/366180/5575014_1_zoom.jpg" alt="Funny t-shirt design 1" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob167.php?tid=10335"><img src="../../user-content/users/images/0/366000/366180/7154827_1_zoom.jpg" alt="Funny t-shirt design 2" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5766.php?tid=10333"><img src="../../user-content/users/images/0/366000/366180/7154846_1_zoom.jpg" alt="Funny t-shirt design 3" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob011.php?tid=10780"><img src="../../user-content/users/images/1000000/1422000/1422132/7814355_1_zoom.jpg" alt="Funny t-shirt design 4" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob2dc.php?tid=11013"><img src="../../user-content/users/images/0/366000/366180/8946776_1_zoom.jpg" alt="Funny t-shirt design 5" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc09b.php?tid=11014"><img src="../../user-content/users/images/0/366000/366180/8946775_1_zoom.jpg" alt="Funny t-shirt design 6" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio054d.php?tid=11016"><img src="../../user-content/users/images/0/366000/366180/8946773_1_zoom.jpg" alt="Funny t-shirt design 7" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8584.php?tid=11404"><img src="../../user-content/users/images/0/366000/366180/11255759_1_zoom.jpg" alt="Funny t-shirt design 8" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4b9b.php?tid=10334"><img src="../../user-content/users/images/0/366000/366180/7154838_1_zoom.jpg" alt="Funny t-shirt design 9" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6424.php?tid=10340"><img src="../../user-content/users/images/0/366000/366180/7154770_1_zoom.jpg" alt="Funny t-shirt design 10" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc026.php?tid=10336"><img src="../../user-content/users/images/0/366000/366180/7154813_1_zoom.jpg" alt="Funny t-shirt design 11" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiocc7d.php?tid=10099"><img src="../../user-content/users/images/0/366000/366180/6667409_1_zoom.jpg" alt="Funny t-shirt design 12" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio74f4.php?tid=10100"><img src="../../user-content/users/images/0/366000/366180/6667405_1_zoom.jpg" alt="Funny t-shirt design 13" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod0a3.php?tid=10257"><img src="../../user-content/users/images/0/366000/366180/7045421_1_zoom.jpg" alt="Funny t-shirt design 14" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa22b.php?tid=10258"><img src="../../user-content/users/images/0/366000/366180/7045424_1_zoom.jpg" alt="Funny t-shirt design 15" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8c25.php?tid=10259"><img src="../../user-content/users/images/0/366000/366180/7045437_1_zoom.jpg" alt="Funny t-shirt design 16" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio605c.php?tid=9845"><img src="../../user-content/users/images/0/366000/366180/6410798_1_zoom.jpg" alt="Funny t-shirt design 17" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc167.php?tid=10331"><img src="../../user-content/users/images/0/366000/366180/7154856_1_zoom.jpg" alt="Funny t-shirt design 18" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc72c.php?tid=11018"><img src="../../user-content/users/images/0/366000/366180/8946771_1_zoom.jpg" alt="Funny t-shirt design 19" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof28c.php?tid=11019"><img src="../../user-content/users/images/0/366000/366180/8946770_1_zoom.jpg" alt="Funny t-shirt design 20" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof9c7.php?tid=11020"><img src="../../user-content/users/images/0/366000/366180/8946769_1_zoom.jpg" alt="Funny t-shirt design 21" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8eea.php?tid=11021"><img src="../../user-content/users/images/0/366000/366180/8946768_1_zoom.jpg" alt="Funny t-shirt design 22" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9418.php?tid=11022"><img src="../../user-content/users/images/0/366000/366180/8946766_1_zoom.jpg" alt="Funny t-shirt design 23" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9bdf.php?tid=11023"><img src="../../user-content/users/images/0/366000/366180/8946765_1_zoom.jpg" alt="Funny t-shirt design 24" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio51a4.php?tid=11030"><img src="../../user-content/users/images/0/366000/366180/8946756_1_zoom.jpg" alt="Funny t-shirt design 25" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod2cb.php?tid=11031"><img src="../../user-content/users/images/0/366000/366180/8946755_1_zoom.jpg" alt="Funny t-shirt design 26" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9aed.php?tid=11032"><img src="../../user-content/users/images/0/366000/366180/8946753_1_zoom.jpg" alt="Funny t-shirt design 27" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio75a1.php?tid=11033"><img src="../../user-content/users/images/0/366000/366180/8946752_1_zoom.jpg" alt="Funny t-shirt design 28" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa15b.php?tid=9237"><img src="../../user-content/users/images/0/366000/366180/5575252_1_zoom.jpg" alt="Funny t-shirt design 29" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioec5c.php?tid=9238"><img src="../../user-content/users/images/0/366000/366180/5575274_1_zoom.jpg" alt="Funny t-shirt design 30" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0525.php?tid=8875"><img src="../../user-content/users/images/0/495000/495097/4559545_1_zoom.jpg" alt="Funny t-shirt design 31" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6f07.php?tid=9231"><img src="../../user-content/users/images/0/366000/366180/5574996_1_zoom.jpg" alt="Funny t-shirt design 32" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4bfe.php?tid=9232"><img src="../../user-content/users/images/0/366000/366180/5574992_1_zoom.jpg" alt="Funny t-shirt design 33" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7045.php?tid=9233"><img src="../../user-content/users/images/0/366000/366180/5574982_1_zoom.jpg" alt="Funny t-shirt design 34" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6969.php?tid=9235"><img src="../../user-content/users/images/0/366000/366180/5575019_1_zoom.jpg" alt="Funny t-shirt design 35" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5460.php?tid=8272"><img src="../../user-content/users/images/1000000/1026000/1026114/3742112_1_zoom.jpg" alt="Funny t-shirt design 36" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2d5e.php?tid=8141"><img src="../../user-content/users/images/1000000/1026000/1026114/3706039_1_zoom.jpg" alt="Funny t-shirt design 37" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9273.php?tid=8502"><img src="../../user-content/users/images/0/366000/366180/4058852_1_zoom.jpg" alt="Funny t-shirt design 38" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod99e.php?tid=7724"><img src="../../user-content/users/images/0/372000/372621/3576254_1_zoom.jpg" alt="Funny t-shirt design 39" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4e51.php?tid=8504"><img src="../../user-content/users/images/0/366000/366180/4058764_1_zoom.jpg" alt="Funny t-shirt design 40" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3ab9.php?tid=8142"><img src="../../user-content/users/images/1000000/1026000/1026114/3706033_1_zoom.jpg" alt="Funny t-shirt design 41" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio457a.php?tid=8297"><img src="../../user-content/users/images/0/301000/301248/3770925_1_zoom.jpg" alt="Funny t-shirt design 42" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof727.php?tid=8498"><img src="../../user-content/users/images/0/366000/366180/4058844_1_zoom.jpg" alt="Funny t-shirt design 43" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio16d2.php?tid=8499"><img src="../../user-content/users/images/0/366000/366180/4058833_1_zoom.jpg" alt="Funny t-shirt design 44" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5f27.php?tid=8500"><img src="../../user-content/users/images/0/366000/366180/4058824_1_zoom.jpg" alt="Funny t-shirt design 45" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio87c5.php?tid=11034"><img src="../../user-content/users/images/0/366000/366180/8946750_1_zoom.jpg" alt="Funny t-shirt design 46" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6f95.php?tid=11035"><img src="../../user-content/users/images/0/366000/366180/8946749_1_zoom.jpg" alt="Funny t-shirt design 47" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5578.php?tid=11036"><img src="../../user-content/users/images/0/366000/366180/8946747_1_zoom.jpg" alt="Funny t-shirt design 48" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof7cb.php?tid=11037"><img src="../../user-content/users/images/0/366000/366180/8946746_1_zoom.jpg" alt="Funny t-shirt design 49" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7690.php?tid=11038"><img src="../../user-content/users/images/0/366000/366180/8946745_1_zoom.jpg" alt="Funny t-shirt design 50" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9ffc.php?tid=11039"><img src="../../user-content/users/images/0/366000/366180/8946743_1_zoom.jpg" alt="Funny t-shirt design 51" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3c24.php?tid=11024"><img src="../../user-content/users/images/0/366000/366180/8946763_1_zoom.jpg" alt="Funny t-shirt design 52" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio42e1.php?tid=11025"><img src="../../user-content/users/images/0/366000/366180/8946762_1_zoom.jpg" alt="Funny t-shirt design 53" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6422.php?tid=11026"><img src="../../user-content/users/images/0/366000/366180/8946760_1_zoom.jpg" alt="Funny t-shirt design 54" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0da7.php?tid=11027"><img src="../../user-content/users/images/0/366000/366180/8946759_1_zoom.jpg" alt="Funny t-shirt design 55" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6fd7.php?tid=11028"><img src="../../user-content/users/images/0/366000/366180/8946758_1_zoom.jpg" alt="Funny t-shirt design 56" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob9b5.php?tid=11029"><img src="../../user-content/users/images/0/366000/366180/8946757_1_zoom.jpg" alt="Funny t-shirt design 57" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa81c.php?tid=10332"><img src="../../user-content/users/images/0/366000/366180/7154855_1_zoom.jpg" alt="Funny t-shirt design 58" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob7e7.php?tid=9846"><img src="../../user-content/users/images/0/366000/366180/6410788_1_zoom.jpg" alt="Funny t-shirt design 59" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8cd0.php?tid=10270"><img src="../../user-content/users/images/0/298000/298700/7087753_1_zoom.jpg" alt="Funny t-shirt design 60" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiodd63.php?tid=10338"><img src="../../user-content/users/images/0/366000/366180/7154798_1_zoom.jpg" alt="Funny t-shirt design 61" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio99f2.php?tid=10339"><img src="../../user-content/users/images/0/366000/366180/7154783_1_zoom.jpg" alt="Funny t-shirt design 62" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6594.php?tid=10341"><img src="../../user-content/users/images/0/366000/366180/7154749_1_zoom.jpg" alt="Funny t-shirt design 63" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5d0a.php?tid=11017"><img src="../../user-content/users/images/0/366000/366180/8946772_1_zoom.jpg" alt="Funny t-shirt design 64" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5f47.php?tid=11015"><img src="../../user-content/users/images/0/366000/366180/8946774_1_zoom.jpg" alt="Funny t-shirt design 65" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9eea.php?tid=11011"><img src="../../user-content/users/images/0/366000/366180/8946778_1_zoom.jpg" alt="Funny t-shirt design 66" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc2fa.php?tid=11012"><img src="../../user-content/users/images/0/366000/366180/8946777_1_zoom.jpg" alt="Funny t-shirt design 67" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3bf6.php?tid=7510"><img src="../../user-content/users/images/0/366000/366180/3546194_1_zoom.jpg" alt="Funny t-shirt design 68" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod17b.php?tid=7502"><img src="../../user-content/users/images/0/366000/366180/3546224_1_zoom.jpg" alt="Funny t-shirt design 69" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3aab.php?tid=7498"><img src="../../user-content/users/images/0/366000/366180/3546237_1_zoom.jpg" alt="Funny t-shirt design 70" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio31e1.php?tid=7500"><img src="../../user-content/users/images/0/366000/366180/3546231_1_zoom.jpg" alt="Funny t-shirt design 71" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio56b4.php?tid=7507"><img src="../../user-content/users/images/0/366000/366180/3546215_1_zoom.jpg" alt="Funny t-shirt design 72" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8882.php?tid=7527"><img src="../../user-content/users/images/0/366000/366180/3547799_1_zoom.jpg" alt="Funny t-shirt design 73" width="261" height="288"/></a>
				</li>
		</ul>
</div>
	</main>
	<footer class="up-footer">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <!-- facebook page link here -->
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
                                <!-- x.com link here -->
								<a href="#"><img src="../../images/_x_logo_twitter_new_brand_icon.svg" alt=""></a>
                                 <!-- instagram page link here -->
								 <a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								 <!-- pinterest link here -->
								 <a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								 <!-- Youtube link here -->
								 <a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
								 <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
                            </div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>


<script src="../../js/bundles/js/common378a"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>