
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Halloween T-Shirt Design Ideas and Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
		

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        
  
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a  href="../../index.php">HOME</a>
                                        
                                        <li class="dropdown">
                                            <a  href="../../Adult.php">ADULT</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../WOMEN.php">WOMEN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../YOUTH.php">YOUTH</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../OUR DESIGNS.php">OUR DESIGN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Option 1</a>
                                                <br>
                                                <a href="#">Option 2</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                    <li class="dropdown">
                                        <a href="../../Create.php">CREATE</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="active" href="../../TEMPLATES.php">TEMPLATES</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a  href="../../HELP.php">HELP</a>
                                        <div class="dropdown-content">
                                            <a href="../../FAQS.php">FAQS</a>
                                            <br>
                                            <a href="../../SHIPPING.php">SHIPPING</a>
                                            <br>
                                            <a href="../../RETURNS.php">RETURNS</a>
                                            <br>
                                            <a href="../../CONTACT.php">CONTACT US</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>


	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
				<span></span> Holidays
                <span></span> Halloween
            </div>
        </div>
    </div>
	<main id="content" class="main wrapper">
		

<div class="templates">
	<h1 class="u-bar">Halloween Design Templates</h1>
	<nav>
		<ul class="breadcrumbs">
			<li><a href="../../templates.php">All Categories</a></li>
					<li><a href="../category/holidays.php">Holidays</a></li>
				<li>Halloween</li>
		</ul>
	</nav>
		<ul class="template-list">
				<li>
					<a href="../../studio0e37.php?tid=9606"><img src="../../user-content/users/images/0/376000/376658/6017510_1_zoom.jpg" alt="Halloween t-shirt design 1" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioeb8f.php?tid=11773"><img src="../../user-content/users/images/0/376000/376658/12132867_1_zoom.jpg" alt="Halloween t-shirt design 2" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1b1d.php?tid=11774"><img src="../../user-content/users/images/0/376000/376658/12132866_1_zoom.jpg" alt="Halloween t-shirt design 3" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio28b4.php?tid=11775"><img src="../../user-content/users/images/0/376000/376658/12132865_1_zoom.jpg" alt="Halloween t-shirt design 4" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3616.php?tid=11281"><img src="../../user-content/users/images/0/376000/376658/9599033_1_zoom.jpg" alt="Halloween t-shirt design 5" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1845.php?tid=11282"><img src="../../user-content/users/images/0/376000/376658/9599027_1_zoom.jpg" alt="Halloween t-shirt design 6" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7ce4.php?tid=11770"><img src="../../user-content/users/images/0/376000/376658/12132873_1_zoom.jpg" alt="Halloween t-shirt design 7" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio83ba.php?tid=11771"><img src="../../user-content/users/images/0/376000/376658/12132872_1_zoom.jpg" alt="Halloween t-shirt design 8" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof101.php?tid=11772"><img src="../../user-content/users/images/0/376000/376658/12132870_1_zoom.jpg" alt="Halloween t-shirt design 9" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob268.php?tid=11285"><img src="../../user-content/users/images/0/376000/376658/9599006_1_zoom.jpg" alt="Halloween t-shirt design 10" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0535.php?tid=11283"><img src="../../user-content/users/images/0/376000/376658/9599019_1_zoom.jpg" alt="Halloween t-shirt design 11" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof3fd.php?tid=11776"><img src="../../user-content/users/images/0/376000/376658/12135796_1_zoom.jpg" alt="Halloween t-shirt design 12" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe0d1.php?tid=11777"><img src="../../user-content/users/images/0/376000/376658/12135792_1_zoom.jpg" alt="Halloween t-shirt design 13" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioff89.php?tid=11778"><img src="../../user-content/users/images/0/376000/376658/12135788_1_zoom.jpg" alt="Halloween t-shirt design 14" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio694c.php?tid=11779"><img src="../../user-content/users/images/0/376000/376658/12135811_1_zoom.jpg" alt="Halloween t-shirt design 15" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9f70.php?tid=11780"><img src="../../user-content/users/images/0/376000/376658/12135812_1_zoom.jpg" alt="Halloween t-shirt design 16" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0a6e.php?tid=9605"><img src="../../user-content/users/images/0/376000/376658/6017498_1_zoom.jpg" alt="Halloween t-shirt design 17" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3e91.php?tid=10135"><img src="../../user-content/users/images/0/376000/376658/6389764_1_zoom.jpg" alt="Halloween t-shirt design 18" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe224.php?tid=11276"><img src="../../user-content/users/images/0/376000/376658/9599082_1_zoom.jpg" alt="Halloween t-shirt design 19" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio24f2.php?tid=11277"><img src="../../user-content/users/images/0/376000/376658/9599073_1_zoom.jpg" alt="Halloween t-shirt design 20" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc847.php?tid=11279"><img src="../../user-content/users/images/0/376000/376658/9599053_1_zoom.jpg" alt="Halloween t-shirt design 21" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9889.php?tid=9607"><img src="../../user-content/users/images/0/376000/376658/6017518_1_zoom.jpg" alt="Halloween t-shirt design 22" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod54d.php?tid=10128"><img src="../../user-content/users/images/0/376000/376658/6763549_1_zoom.jpg" alt="Halloween t-shirt design 23" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio896a.php?tid=10130"><img src="../../user-content/users/images/0/376000/376658/6763524_1_zoom.jpg" alt="Halloween t-shirt design 24" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8ba7.php?tid=9604"><img src="../../user-content/users/images/0/376000/376658/6017486_1_zoom.jpg" alt="Halloween t-shirt design 25" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8c73.php?tid=10126"><img src="../../user-content/users/images/0/376000/376658/6763619_1_zoom.jpg" alt="Halloween t-shirt design 26" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof9fa.php?tid=10127"><img src="../../user-content/users/images/0/376000/376658/6763570_1_zoom.jpg" alt="Halloween t-shirt design 27" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio026e.php?tid=10123"><img src="../../user-content/users/images/0/376000/376658/6763740_1_zoom.jpg" alt="Halloween t-shirt design 28" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio8f0f.php?tid=11280"><img src="../../user-content/users/images/0/376000/376658/9599041_1_zoom.jpg" alt="Halloween t-shirt design 29" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio57b6.php?tid=11278"><img src="../../user-content/users/images/0/376000/376658/9599066_1_zoom.jpg" alt="Halloween t-shirt design 30" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7ef2.php?tid=10682"><img src="../../user-content/users/images/0/376000/376658/7755418_1_zoom.jpg" alt="Halloween t-shirt design 31" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5826.php?tid=10683"><img src="../../user-content/users/images/0/376000/376658/7755413_1_zoom.jpg" alt="Halloween t-shirt design 32" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0902.php?tid=10684"><img src="../../user-content/users/images/0/376000/376658/7755407_1_zoom.jpg" alt="Halloween t-shirt design 33" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5c0f.php?tid=10685"><img src="../../user-content/users/images/0/376000/376658/7755360_1_zoom.jpg" alt="Halloween t-shirt design 34" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc601.php?tid=11275"><img src="../../user-content/users/images/0/376000/376658/9599090_1_zoom.jpg" alt="Halloween t-shirt design 35" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe0e1.php?tid=10136"><img src="../../user-content/users/images/0/376000/376658/6389758_1_zoom.jpg" alt="Halloween t-shirt design 36" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6945.php?tid=10137"><img src="../../user-content/users/images/0/376000/376658/6389751_1_zoom.jpg" alt="Halloween t-shirt design 37" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio21ad.php?tid=10138"><img src="../../user-content/users/images/0/376000/376658/6389740_1_zoom.jpg" alt="Halloween t-shirt design 38" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5601.php?tid=10139"><img src="../../user-content/users/images/0/376000/376658/6389697_1_zoom.jpg" alt="Halloween t-shirt design 39" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio45a3.php?tid=10134"><img src="../../user-content/users/images/0/376000/376658/6389790_1_zoom.jpg" alt="Halloween t-shirt design 40" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0fb2.php?tid=10132"><img src="../../user-content/users/images/0/376000/376658/6763492_1_zoom.jpg" alt="Halloween t-shirt design 41" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob2bd.php?tid=10133"><img src="../../user-content/users/images/0/376000/376658/6763472_1_zoom.jpg" alt="Halloween t-shirt design 42" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0340.php?tid=10680"><img src="../../user-content/users/images/0/376000/376658/7755430_1_zoom.jpg" alt="Halloween t-shirt design 43" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod351.php?tid=10681"><img src="../../user-content/users/images/0/376000/376658/7755421_1_zoom.jpg" alt="Halloween t-shirt design 44" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe53f.php?tid=11284"><img src="../../user-content/users/images/0/376000/376658/9599015_1_zoom.jpg" alt="Halloween t-shirt design 45" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9c6b.php?tid=10124"><img src="../../user-content/users/images/0/376000/376658/6763632_1_zoom.jpg" alt="Halloween t-shirt design 46" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod125.php?tid=10125"><img src="../../user-content/users/images/0/376000/376658/6763624_1_zoom.jpg" alt="Halloween t-shirt design 47" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiobf27.php?tid=9188"><img src="../../user-content/users/images/0/376000/376658/4840306_1_zoom.jpg" alt="Halloween t-shirt design 48" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioda80.php?tid=10131"><img src="../../user-content/users/images/0/376000/376658/6763520_1_zoom.jpg" alt="Halloween t-shirt design 49" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio77dc.php?tid=10129"><img src="../../user-content/users/images/0/376000/376658/6763543_1_zoom.jpg" alt="Halloween t-shirt design 50" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio801e.php?tid=7039"><img src="../../user-content/users/images/0/376000/376658/3437361_1_zoom.jpg" alt="Halloween t-shirt design 51" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiobc98.php?tid=7042"><img src="../../user-content/users/images/0/376000/376658/3437348_1_zoom.jpg" alt="Halloween t-shirt design 52" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5ee5.php?tid=2125"><img src="../../user-content/users/images/0/376000/376658/1020029_1_zoom.jpg" alt="Halloween t-shirt design 53" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe233.php?tid=2133"><img src="../../user-content/users/images/0/376000/376658/1017533_1_zoom.jpg" alt="Halloween t-shirt design 54" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio52b2.php?tid=2223"><img src="../../user-content/users/images/0/376000/376658/1037916_1_zoom.jpg" alt="Halloween t-shirt design 55" width="261" height="288"/></a>
				</li>
		</ul>
</div>
	</main>
	<footer class="main">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-twitter.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
                                <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>


<script src="../../js/bundles/js/"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>