
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Intramurals T-Shirt Design Ideas and Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
		

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        
  
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a  href="../../index.php">HOME</a>
                                        
                                        <li class="dropdown">
                                            <a  href="../../Adult.php">ADULT</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../WOMEN.php">WOMEN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../YOUTH.php">YOUTH</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../OUR DESIGNS.php">OUR DESIGN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Option 1</a>
                                                <br>
                                                <a href="#">Option 2</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                    <li class="dropdown">
                                        <a href="../../Create.php">CREATE</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="active" href="../../TEMPLATES.php">TEMPLATES</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a  href="../../HELP.php">HELP</a>
                                        <div class="dropdown-content">
                                            <a href="../../FAQS.php">FAQS</a>
                                            <br>
                                            <a href="../../SHIPPING.php">SHIPPING</a>
                                            <br>
                                            <a href="../../RETURNS.php">RETURNS</a>
                                            <br>
                                            <a href="../../CONTACT.php">CONTACT US</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>


	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> School
            </div>
        </div>
    </div>
	<main id="content" class="main wrapper">
		

<div class="templates">
	<h1 class="u-bar">Intramurals Design Templates</h1>
	<nav>
		<ul class="breadcrumbs">
			<li><a href="../../templates.php">All Categories</a></li>
					<li><a href="../category/school.php">School</a></li>
				<li>Intramurals</li>
		</ul>
	</nav>
		<ul class="template-list">
				<li>
					<a href="../../studio879c.php?tid=10876"><img src="../../user-content/users/images/2000000/2575000/2575404/8046085_1_zoom.jpg" alt="Intramurals t-shirt design 1" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5dfa.php?tid=10891"><img src="../../user-content/users/images/2000000/2575000/2575404/8045834_1_zoom.jpg" alt="Intramurals t-shirt design 2" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio493a.php?tid=10903"><img src="../../user-content/users/images/2000000/2575000/2575404/8045381_1_zoom.jpg" alt="Intramurals t-shirt design 3" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2c4f.php?tid=10907"><img src="../../user-content/users/images/2000000/2575000/2575404/8045321_1_zoom.jpg" alt="Intramurals t-shirt design 4" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7b2b.php?tid=10908"><img src="../../user-content/users/images/2000000/2575000/2575404/8045309_1_zoom.jpg" alt="Intramurals t-shirt design 5" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob072.php?tid=10909"><img src="../../user-content/users/images/2000000/2575000/2575404/8045304_1_zoom.jpg" alt="Intramurals t-shirt design 6" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1992.php?tid=10905"><img src="../../user-content/users/images/2000000/2575000/2575404/8045355_1_zoom.jpg" alt="Intramurals t-shirt design 7" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioff4c.php?tid=10906"><img src="../../user-content/users/images/2000000/2575000/2575404/8045332_1_zoom.jpg" alt="Intramurals t-shirt design 8" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio49ff.php?tid=10900"><img src="../../user-content/users/images/2000000/2575000/2575404/8045408_1_zoom.jpg" alt="Intramurals t-shirt design 9" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa429.php?tid=10902"><img src="../../user-content/users/images/2000000/2575000/2575404/8045391_1_zoom.jpg" alt="Intramurals t-shirt design 10" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9d3b.php?tid=10892"><img src="../../user-content/users/images/2000000/2575000/2575404/8045823_1_zoom.jpg" alt="Intramurals t-shirt design 11" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio41ed.php?tid=10893"><img src="../../user-content/users/images/2000000/2575000/2575404/8045810_1_zoom.jpg" alt="Intramurals t-shirt design 12" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod052.php?tid=10895"><img src="../../user-content/users/images/2000000/2575000/2575404/8045463_1_zoom.jpg" alt="Intramurals t-shirt design 13" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob2ae.php?tid=10896"><img src="../../user-content/users/images/2000000/2575000/2575404/8045458_1_zoom.jpg" alt="Intramurals t-shirt design 14" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe6ae.php?tid=10881"><img src="../../user-content/users/images/2000000/2575000/2575404/8045982_1_zoom.jpg" alt="Intramurals t-shirt design 15" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9658.php?tid=10882"><img src="../../user-content/users/images/2000000/2575000/2575404/8045946_1_zoom.jpg" alt="Intramurals t-shirt design 16" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3b47.php?tid=10878"><img src="../../user-content/users/images/2000000/2575000/2575404/8046036_1_zoom.jpg" alt="Intramurals t-shirt design 17" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4061.php?tid=10888"><img src="../../user-content/users/images/2000000/2575000/2575404/8045856_1_zoom.jpg" alt="Intramurals t-shirt design 18" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio046f.php?tid=10889"><img src="../../user-content/users/images/2000000/2575000/2575404/8045847_1_zoom.jpg" alt="Intramurals t-shirt design 19" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio357f.php?tid=10870"><img src="../../user-content/users/images/2000000/2575000/2575404/8046130_1_zoom.jpg" alt="Intramurals t-shirt design 20" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio89c6.php?tid=10861"><img src="../../user-content/users/images/2000000/2575000/2575404/8046175_1_zoom.jpg" alt="Intramurals t-shirt design 21" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio091a.php?tid=10868"><img src="../../user-content/users/images/2000000/2575000/2575404/8046148_1_zoom.jpg" alt="Intramurals t-shirt design 22" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4940.php?tid=10872"><img src="../../user-content/users/images/2000000/2575000/2575404/8046123_1_zoom.jpg" alt="Intramurals t-shirt design 23" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio18ed.php?tid=10890"><img src="../../user-content/users/images/2000000/2575000/2575404/8045838_1_zoom.jpg" alt="Intramurals t-shirt design 24" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0caa.php?tid=10883"><img src="../../user-content/users/images/2000000/2575000/2575404/8045932_1_zoom.jpg" alt="Intramurals t-shirt design 25" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1c66.php?tid=10880"><img src="../../user-content/users/images/2000000/2575000/2575404/8045996_1_zoom.jpg" alt="Intramurals t-shirt design 26" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio006c.php?tid=10904"><img src="../../user-content/users/images/2000000/2575000/2575404/8045373_1_zoom.jpg" alt="Intramurals t-shirt design 27" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio93df-2.php?tid=10901"><img src="../../user-content/users/images/2000000/2575000/2575404/8045399_1_zoom.jpg" alt="Intramurals t-shirt design 28" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio84db.php?tid=10910"><img src="../../user-content/users/images/2000000/2575000/2575404/8045297_1_zoom.jpg" alt="Intramurals t-shirt design 29" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0e00.php?tid=10884"><img src="../../user-content/users/images/2000000/2575000/2575404/8045915_1_zoom.jpg" alt="Intramurals t-shirt design 30" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio59c5.php?tid=10885"><img src="../../user-content/users/images/2000000/2575000/2575404/8045885_1_zoom.jpg" alt="Intramurals t-shirt design 31" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiocd24.php?tid=10886"><img src="../../user-content/users/images/2000000/2575000/2575404/8045879_1_zoom.jpg" alt="Intramurals t-shirt design 32" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2e22.php?tid=10887"><img src="../../user-content/users/images/2000000/2575000/2575404/8045870_1_zoom.jpg" alt="Intramurals t-shirt design 33" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioad9f.php?tid=10879"><img src="../../user-content/users/images/2000000/2575000/2575404/8046025_1_zoom.jpg" alt="Intramurals t-shirt design 34" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio91cf.php?tid=10897"><img src="../../user-content/users/images/2000000/2575000/2575404/8045436_1_zoom.jpg" alt="Intramurals t-shirt design 35" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob03a.php?tid=10898"><img src="../../user-content/users/images/2000000/2575000/2575404/8045430_1_zoom.jpg" alt="Intramurals t-shirt design 36" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4013.php?tid=10899"><img src="../../user-content/users/images/2000000/2575000/2575404/8045425_1_zoom.jpg" alt="Intramurals t-shirt design 37" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio6484.php?tid=10894"><img src="../../user-content/users/images/2000000/2575000/2575404/8045475_1_zoom.jpg" alt="Intramurals t-shirt design 38" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe7d5.php?tid=10873"><img src="../../user-content/users/images/2000000/2575000/2575404/8046120_1_zoom.jpg" alt="Intramurals t-shirt design 39" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc983.php?tid=10874"><img src="../../user-content/users/images/2000000/2575000/2575404/8046109_1_zoom.jpg" alt="Intramurals t-shirt design 40" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio32bd.php?tid=10875"><img src="../../user-content/users/images/2000000/2575000/2575404/8046102_1_zoom.jpg" alt="Intramurals t-shirt design 41" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9332.php?tid=10871"><img src="../../user-content/users/images/2000000/2575000/2575404/8046126_1_zoom.jpg" alt="Intramurals t-shirt design 42" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioac74.php?tid=10877"><img src="../../user-content/users/images/2000000/2575000/2575404/8046070_1_zoom.jpg" alt="Intramurals t-shirt design 43" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio41ba.php?tid=10869"><img src="../../user-content/users/images/2000000/2575000/2575404/8046144_1_zoom.jpg" alt="Intramurals t-shirt design 44" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio10fa.php?tid=10859"><img src="../../user-content/users/images/2000000/2575000/2575404/8046185_1_zoom.jpg" alt="Intramurals t-shirt design 45" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0a3c.php?tid=10860"><img src="../../user-content/users/images/2000000/2575000/2575404/8046181_1_zoom.jpg" alt="Intramurals t-shirt design 46" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0c05.php?tid=10862"><img src="../../user-content/users/images/2000000/2575000/2575404/8046168_1_zoom.jpg" alt="Intramurals t-shirt design 47" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe094.php?tid=10863"><img src="../../user-content/users/images/2000000/2575000/2575404/8046167_1_zoom.jpg" alt="Intramurals t-shirt design 48" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioedaa.php?tid=10864"><img src="../../user-content/users/images/2000000/2575000/2575404/8046166_1_zoom.jpg" alt="Intramurals t-shirt design 49" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiof641.php?tid=10865"><img src="../../user-content/users/images/2000000/2575000/2575404/8046164_1_zoom.jpg" alt="Intramurals t-shirt design 50" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7c00.php?tid=10866"><img src="../../user-content/users/images/2000000/2575000/2575404/8046160_1_zoom.jpg" alt="Intramurals t-shirt design 51" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod727.php?tid=10867"><img src="../../user-content/users/images/2000000/2575000/2575404/8046152_1_zoom.jpg" alt="Intramurals t-shirt design 52" width="261" height="288"/></a>
				</li>
		</ul>
</div>
	</main>
	<footer class="main">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-twitter.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
                                <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>



<script src="../../js/bundles/js/common378a"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>