
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Popular T-Shirt Design Ideas and Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #77D6DB;
            min-width: 125px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
		<style>
			.glow-on-hover {
			width: 125px;
			height: auto;
			border: none;
			outline: none;
			color: #000000;
			background: #111;
			cursor: pointer;
			position: relative;
			z-index: 0;
			border-radius: 10px;
		}
		
		.glow-on-hover:before {
			content: '';
			background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
			position: absolute;
			top: -2px;
			left:-2px;
			background-size: 400%;
			z-index: -1;
			filter: blur(5px);
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			animation: glowing 20s linear infinite;
			opacity: 0;
			transition: opacity .3s ease-in-out;
			border-radius: 10px;
		}
		
		.glow-on-hover:active {
    color: #77D6DB;
		}
		
		.glow-on-hover:active:after {
			background: transparent;
		}
		
		.glow-on-hover:hover:before {
			opacity: 1;
		}
		
		.glow-on-hover:after {
			z-index: -1;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: #77D6DB;
			left: 0;
			top: 0;
			border-radius: 10px;
		}
		
		@keyframes glowing {
			0% { background-position: 0 0; }
			50% { background-position: 400% 0; }
			100% { background-position: 0 0; }
		}
		
		
		  </style>
		  
		

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
							<nav>
                                <ul>
                                    <li>
										<a  href="../../index.php">  <button class="glow-on-hover" type="button">  Home</button></a>
                                    </li>
                                        <li class="dropdown">
											<a href="../../Adult.php"> <button class="glow-on-hover" type="button">  Adult</button></a>
                                            <div class="dropdown-content">
												<a href="../../Adult-Shirt.php">   <button class="glow-on-hover" type="button">  Short-sleeve</button></a>
                                                <br>
												<a href="..//Adult-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
												<a href="../../Adult-Hoodies.php"> <button class="glow-on-hover" type="button">  Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../WOMEN.php"> <button class="glow-on-hover" type="button">  Woman</button></a>
                                            <div class="dropdown-content">
												<a href="../../Women-Shirt.php"> <button class="glow-on-hover" type="button">  Short-sleeve</button></a>
                                                <br>
												<a href="../../women-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
												<a href="../../Women-Hoodies.php"> <button class="glow-on-hover" type="button">  Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../YOUTH.php"> <button class="glow-on-hover" type="button">  Youth</button></a>
                                            <div class="dropdown-content">
                                                <a href="../../Youth-Shirt.php"> <button class="glow-on-hover" type="button"> Short-sleeve</button></a>
                                                <br>
												<a href="../../Youth-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
                                                <a href="../../Youth-Hoodies.php"> <button class="glow-on-hover" type="button"> Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../OUR DESIGNS.php"> <button class="glow-on-hover" type="button">  Our Design</button></a>
                                            <div class="dropdown-content">
												<a href="../../#"> <button class="glow-on-hover" type="button">  Option 1</button></a>
                                                <br>
												<a href="../../#">  <button class="glow-on-hover" type="button">  Option 2</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../Create.php">  <button class="glow-on-hover" type="button">  Create</button></a>
                                           
                                        </li>
                                        <li class="dropdown">
											<a class="active" href="../../TEMPLATES.php">  <button class="glow-on-hover" type="button">  Templates</button></a>
											<div class="dropdown-content">
												<a class="active" href="../graphix_wizard/Template/search/popularb31a.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/popular.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Popular</div>
												</button>
											</a>
												
											<a href="../graphix_wizard/Template/category/sports.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/sports.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Sports</div>
												</button>
											</a>
	 
											<a href="../graphix_wizard/Template/category/event.php">  <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/events.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Events</div>
											   
												</button> </a>
	 
												<a href="../graphix_wizard/Template/category/greek.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/greek.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Greek</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/school.php"> <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/school.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">School</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/holidays.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/holidays.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Holidays</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/occupations.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/occupations.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Occupations</div>
											   
												</button> </a>
	 
												<a href="../graphix_wizard/Template/category/religion.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/religion.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Religion</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/vacation.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/vacation.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Vacation</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/search/funny3f7b.php"> <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/funny.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Funny</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/search/geek81ea.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/geek.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Geek</div>
											   
												</button> </a>
											 </div>
										</li>
										<li class="dropdown">
											<a href="../../HELP.php"> <button class="glow-on-hover" type="button">  HELP</button></a>
											<div class="dropdown-content">
												<a  href="../../FAQS.php"> <button class="glow-on-hover" type="button">  FAQS</button></a>
												<br>
												<a href="../../SHIPPING.php"> <button class="glow-on-hover" type="button">  SHIPPING</button></a>
												<br>
												<a href="../../RETURNS.php"> <button class="glow-on-hover" type="button">  RETURNS</button></a>
												<br>
												<a href="../../CONTACT.php"> <button class="glow-on-hover" type="button">  CONTACT US</button></a>
											</div>
										</li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>



	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> Popular
            </div>
        </div>
    </div>


	<main id="content" class="main wrapper">
		

<div class="templates">
	<h1 class="u-bar">Popular Design Templates</h1>
	<nav>
		<ul class="breadcrumbs">
			<li><a href="../../templates.php">All Categories</a></li>
				<li>Popular</li>
		</ul>
	</nav>
		<ul class="template-list">
				<li>
					<a href="../../studioded4.php?tid=9543"><img src="../../user-content/users/images/0/376000/376031/5979530_1_zoom.jpg" alt="Popular t-shirt design 1" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob528.php?tid=11366"><img src="../../user-content/users/images/3000000/3620000/3620095/11224062_2_zoom.jpg" alt="Popular t-shirt design 2" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7693.php?tid=11363"><img src="../../user-content/users/images/3000000/3620000/3620095/11224071_1_zoom.jpg" alt="Popular t-shirt design 3" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiofd13.php?tid=11373"><img src="../../user-content/users/images/3000000/3620000/3620095/11223980_1_zoom.jpg" alt="Popular t-shirt design 4" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio12f6.php?tid=11375"><img src="../../user-content/users/images/3000000/3620000/3620095/11223954_1_zoom.jpg" alt="Popular t-shirt design 5" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiobc61.php?tid=11376"><img src="../../user-content/users/images/3000000/3620000/3620095/11224106_1_zoom.jpg" alt="Popular t-shirt design 6" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7711.php?tid=11377"><img src="../../user-content/users/images/3000000/3620000/3620095/11224117_1_zoom.jpg" alt="Popular t-shirt design 7" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio0ce4.php?tid=11378"><img src="../../user-content/users/images/3000000/3620000/3620095/11224121_1_zoom.jpg" alt="Popular t-shirt design 8" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio53b4.php?tid=11379"><img src="../../user-content/users/images/3000000/3620000/3620095/11224127_1_zoom.jpg" alt="Popular t-shirt design 9" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod9b1.php?tid=11380"><img src="../../user-content/users/images/3000000/3620000/3620095/11224134_1_zoom.jpg" alt="Popular t-shirt design 10" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc3e1.php?tid=11374"><img src="../../user-content/users/images/3000000/3620000/3620095/11223957_1_zoom.jpg" alt="Popular t-shirt design 11" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio736f.php?tid=11364"><img src="../../user-content/users/images/3000000/3620000/3620095/11224067_1_zoom.jpg" alt="Popular t-shirt design 12" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1096.php?tid=11367"><img src="../../user-content/users/images/3000000/3620000/3620095/11224058_2_zoom.jpg" alt="Popular t-shirt design 13" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9245.php?tid=11368"><img src="../../user-content/users/images/3000000/3620000/3620095/11224057_2_zoom.jpg" alt="Popular t-shirt design 14" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiocd33.php?tid=11369"><img src="../../user-content/users/images/3000000/3620000/3620095/11224056_1_zoom.jpg" alt="Popular t-shirt design 15" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio5a0f.php?tid=11370"><img src="../../user-content/users/images/3000000/3620000/3620095/11224036_1_zoom.jpg" alt="Popular t-shirt design 16" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio340a.php?tid=11371"><img src="../../user-content/users/images/3000000/3620000/3620095/11224013_2_zoom.jpg" alt="Popular t-shirt design 17" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod6ae.php?tid=11372"><img src="../../user-content/users/images/3000000/3620000/3620095/11224011_1_zoom.jpg" alt="Popular t-shirt design 18" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiofa6c.php?tid=9569"><img src="../../user-content/users/images/0/326000/326192/6013178_1_zoom.jpg" alt="Popular t-shirt design 19" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1215.php?tid=10121"><img src="../../user-content/users/images/0/494000/494323/6764665_1_zoom.jpg" alt="Popular t-shirt design 20" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio31f3.php?tid=10358"><img src="../../user-content/users/images/2000000/2304000/2304244/7251328_1_zoom.jpg" alt="Popular t-shirt design 21" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio66f4.php?tid=10804"><img src="../../user-content/users/images/0/494000/494323/8042453_1_zoom.jpg" alt="Popular t-shirt design 22" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio40e0.php?tid=11327"><img src="../../user-content/users/images/0/328000/328322/9655489_1_zoom.jpg" alt="Popular t-shirt design 23" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio35ff.php?tid=11351"><img src="../../user-content/users/images/0/328000/328322/10105286_1_zoom.jpg" alt="Popular t-shirt design 24" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioec99.php?tid=8644"><img src="../../user-content/users/images/0/301000/301115/4351743_1_zoom.jpg" alt="Popular t-shirt design 25" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio060a.php?tid=9330"><img src="../../user-content/users/images/0/301000/301115/5782238_1_zoom.jpg" alt="Popular t-shirt design 26" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiob736.php?tid=9333"><img src="../../user-content/users/images/0/372000/372621/5782487_1_zoom.jpg" alt="Popular t-shirt design 27" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7af7.php?tid=9337"><img src="../../user-content/users/images/0/372000/372621/5782589_1_zoom.jpg" alt="Popular t-shirt design 28" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2e1d.php?tid=9370"><img src="../../user-content/users/images/0/364000/364069/5859167_1_zoom.jpg" alt="Popular t-shirt design 29" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa15b.php?tid=9237"><img src="../../user-content/users/images/0/366000/366180/5575252_1_zoom.jpg" alt="Popular t-shirt design 30" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio4fba.php?tid=9575"><img src="../../user-content/users/images/0/326000/326192/6013171_1_zoom.jpg" alt="Popular t-shirt design 31" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio30f8.php?tid=9672"><img src="../../user-content/users/images/0/326000/326192/6127615_1_zoom.jpg" alt="Popular t-shirt design 32" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9009.php?tid=9877"><img src="../../user-content/users/images/0/311000/311999/6221109_1_zoom.jpg" alt="Popular t-shirt design 33" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio2e37.php?tid=9932"><img src="../../user-content/users/images/0/326000/326192/6383587_1_zoom.jpg" alt="Popular t-shirt design 34" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio7cd4.php?tid=5086"><img src="../../user-content/users/images/0/326000/326192/1601157_1_zoom.jpg" alt="Popular t-shirt design 35" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa35d.php?tid=7295"><img src="../../user-content/users/images/0/325000/325608/3497345_1_zoom.jpg" alt="Popular t-shirt design 36" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9928.php?tid=11357"><img src="../../user-content/users/images/1000000/1150000/1150832/10718383_1_zoom.jpg" alt="Popular t-shirt design 37" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio446b.php?tid=11358"><img src="../../user-content/users/images/1000000/1150000/1150832/10718458_1_zoom.jpg" alt="Popular t-shirt design 38" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioe8d3.php?tid=11365"><img src="../../user-content/users/images/3000000/3620000/3620095/11224066_1_zoom.jpg" alt="Popular t-shirt design 39" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiod99e.php?tid=7724"><img src="../../user-content/users/images/0/372000/372621/3576254_1_zoom.jpg" alt="Popular t-shirt design 40" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1d45.php?tid=11356"><img src="../../user-content/users/images/1000000/1150000/1150832/10718384_1_zoom.jpg" alt="Popular t-shirt design 41" width="261" height="288"/></a>
				</li>
		</ul>
</div>
	</main>
	<footer class="up-footer">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <!-- facebook page link here -->
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
                                <!-- x.com link here -->
								<a href="#"><img src="../../images/_x_logo_twitter_new_brand_icon.svg" alt=""></a>
                                 <!-- instagram page link here -->
								 <a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								 <!-- pinterest link here -->
								 <a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								 <!-- Youtube link here -->
								 <a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
								 <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
                            </div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>


<script src="../../js/bundles/js/"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>