
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Salon/Barber T-Shirt Design Ideas and Templates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
		

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        
  
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a  href="../../index.php">HOME</a>
                                        
                                        <li class="dropdown">
                                            <a  href="../../Adult.php">ADULT</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../WOMEN.php">WOMEN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../YOUTH.php">YOUTH</a>
                                            <div class="dropdown-content">
                                                <a href="#">Shirts</a>
                                                <br>
                                                <a href="#">Long Sleeve</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                        <li class="dropdown">
                                            <a  href="../../OUR DESIGNS.php">OUR DESIGN</a>
                                            <div class="dropdown-content">
                                                <a href="#">Option 1</a>
                                                <br>
                                                <a href="#">Option 2</a>
                                                <!-- Add more dummy options as needed -->
                                            </div>
                                        </li>
                                    <li class="dropdown">
                                        <a href="../../Create.php">CREATE</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="active" href="../../TEMPLATES.php">TEMPLATES</a>
                                        <div class="dropdown-content">
                                            <a href="#">Option 1</a>
                                            <br>
                                            <a href="#">Option 2</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a  href="../../HELP.php">HELP</a>
                                        <div class="dropdown-content">
                                            <a href="../../FAQS.php">FAQS</a>
                                            <br>
                                            <a href="../../SHIPPING.php">SHIPPING</a>
                                            <br>
                                            <a href="../../RETURNS.php">RETURNS</a>
                                            <br>
                                            <a href="../../CONTACT.php">CONTACT US</a>
                                            <!-- Add more dummy options as needed -->
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        
	</header>

	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> Occupations
				<span></span> Salon/Barber
            </div>
        </div>
    </div>

	<main id="content" class="main wrapper">
		

<div class="templates">
	<h1 class="u-bar">Salon/Barber Design Templates</h1>
	<nav>
		<ul class="breadcrumbs">
			<li><a href="../../templates.php">All Categories</a></li>
					<li><a href="../category/occupations.php">Occupations</a></li>
				<li>Salon/Barber</li>
		</ul>
	</nav>
		<ul class="template-list">
				<li>
					<a href="../../studio8db4.php?tid=10140"><img src="../../user-content/users/images/0/311000/311999/6864767_1_zoom.jpg" alt="Salon/Barber t-shirt design 1" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio85f0.php?tid=10141"><img src="../../user-content/users/images/0/311000/311999/6864796_1_zoom.jpg" alt="Salon/Barber t-shirt design 2" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioce5d.php?tid=10142"><img src="../../user-content/users/images/0/311000/311999/6864962_1_zoom.jpg" alt="Salon/Barber t-shirt design 3" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio916a.php?tid=10143"><img src="../../user-content/users/images/0/311000/311999/6864990_1_zoom.jpg" alt="Salon/Barber t-shirt design 4" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio9b5f.php?tid=10144"><img src="../../user-content/users/images/0/311000/311999/6865026_1_zoom.jpg" alt="Salon/Barber t-shirt design 5" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio34db.php?tid=10191"><img src="../../user-content/users/images/0/311000/311999/7028525_1_zoom.jpg" alt="Salon/Barber t-shirt design 6" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio58dc.php?tid=10145"><img src="../../user-content/users/images/0/311000/311999/6869998_1_zoom.jpg" alt="Salon/Barber t-shirt design 7" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioa372.php?tid=10146"><img src="../../user-content/users/images/0/311000/311999/6869985_1_zoom.jpg" alt="Salon/Barber t-shirt design 8" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studiobb3f.php?tid=10147"><img src="../../user-content/users/images/0/311000/311999/6869971_1_zoom.jpg" alt="Salon/Barber t-shirt design 9" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio99c1.php?tid=10213"><img src="../../user-content/users/images/0/311000/311999/6908574_1_zoom.jpg" alt="Salon/Barber t-shirt design 10" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studioc782.php?tid=10306"><img src="../../user-content/users/images/2000000/2264000/2264770/7122998_1_zoom.jpg" alt="Salon/Barber t-shirt design 11" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio179a.php?tid=10307"><img src="../../user-content/users/images/2000000/2264000/2264770/7122990_1_zoom.jpg" alt="Salon/Barber t-shirt design 12" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio3b1d.php?tid=10308"><img src="../../user-content/users/images/2000000/2264000/2264770/7122780_1_zoom.jpg" alt="Salon/Barber t-shirt design 13" width="261" height="288"/></a>
				</li>
				<li>
					<a href="../../studio1dd5.php?tid=10305"><img src="../../user-content/users/images/2000000/2264000/2264770/7125532_1_zoom.jpg" alt="Salon/Barber t-shirt design 14" width="261" height="288"/></a>
				</li>
		</ul>
</div>
	</main>
	<footer class="main">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-twitter.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								<a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
                                <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>


<script src="../../js/bundles/js/"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>