
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Design Ideas for Events T-Shirts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #77D6DB;
            min-width: 125px;
            min-height: 125;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>

<style>
    .glow-on-hover {
    width: 125px;
    height: auto;
    border: none;
    outline: none;
    color: #000000;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #77D6DB;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #77D6DB;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


  </style>
  
	

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
										<a  href="../../index.php">  <button class="glow-on-hover" type="button">  Home</button></a>
                                    </li>
                                        <li class="dropdown">
											<a href="../../Adult.php"> <button class="glow-on-hover" type="button">  Adult</button></a>
                                            <div class="dropdown-content">
												<a href="../../Adult-Shirt.php">   <button class="glow-on-hover" type="button">  Short-sleeve</button></a>
                                                <br>
												<a href="..//Adult-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
												<a href="../../Adult-Hoodies.php"> <button class="glow-on-hover" type="button">  Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../WOMEN.php"> <button class="glow-on-hover" type="button">  Woman</button></a>
                                            <div class="dropdown-content">
												<a href="../../Women-Shirt.php"> <button class="glow-on-hover" type="button">  Short-sleeve</button></a>
                                                <br>
												<a href="../../women-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
												<a href="../../Women-Hoodies.php"> <button class="glow-on-hover" type="button">  Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../YOUTH.php"> <button class="glow-on-hover" type="button">  Youth</button></a>
                                            <div class="dropdown-content">
                                                <a href="../../Youth-Shirt.php"> <button class="glow-on-hover" type="button"> Short-sleeve</button></a>
                                                <br>
												<a href="../../Youth-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
                                                <a href="../../Youth-Hoodies.php"> <button class="glow-on-hover" type="button"> Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../OUR DESIGNS.php"> <button class="glow-on-hover" type="button">  Our Design</button></a>
                                            <div class="dropdown-content">
												<a href="../../#"> <button class="glow-on-hover" type="button">  Option 1</button></a>
                                                <br>
												<a href="../../#">  <button class="glow-on-hover" type="button">  Option 2</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../Create.php">  <button class="glow-on-hover" type="button">  Create</button></a>
                                           
                                        </li>
                                        <li class="dropdown">
											<a class="active" href="../../TEMPLATES.php">  <button class="glow-on-hover" type="button">  Templates</button></a>
											<div class="dropdown-content">
												<a href="../graphix_wizard/Template/search/popularb31a.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/popular.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Popular</div>
												</button>
											</a>
												
											<a href="../graphix_wizard/Template/category/sports.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/sports.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Sports</div>
												</button>
											</a>
	 
											<a class="active" href="../graphix_wizard/Template/category/event.php">  <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/events.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Events</div>
											   
												</button> </a>
	 
												<a href="../graphix_wizard/Template/category/greek.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/greek.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Greek</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/school.php"> <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/school.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">School</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/holidays.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/holidays.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Holidays</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/occupations.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/occupations.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Occupations</div>
											   
												</button> </a>
	 
												<a href="../graphix_wizard/Template/category/religion.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/religion.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Religion</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/vacation.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/vacation.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Vacation</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/search/funny3f7b.php"> <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/funny.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Funny</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/search/geek81ea.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/geek.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Geek</div>
											   
												</button> </a>
											 </div>
										</li>
										<li class="dropdown">
											<a href="../../HELP.php"> <button class="glow-on-hover" type="button">  HELP</button></a>
											<div class="dropdown-content">
												<a  href="../../FAQS.php"> <button class="glow-on-hover" type="button">  FAQS</button></a>
												<br>
												<a href="../../SHIPPING.php"> <button class="glow-on-hover" type="button">  SHIPPING</button></a>
												<br>
												<a href="../../RETURNS.php"> <button class="glow-on-hover" type="button">  RETURNS</button></a>
												<br>
												<a href="../../CONTACT.php"> <button class="glow-on-hover" type="button">  CONTACT US</button></a>
											</div>
										</li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        
	</header>

    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> Event
            </div>
        </div>
    </div>

<main id="content" class="main wrapper">
		
    <div class="templates">
        <h1 class="u-bar">Events Design Templates</h1>
        <p>Need shirts for an upcoming event? We are here to help. Browse through our design templates to help you get started. All are customizable. After designing, share with friends or co-workers if you want more opinions (or not).</p>
        <nav>
            <ul class="breadcrumbs">
                <li><a href="../../templates.php">All Categories</a></li>
                <li>Events</li>
            </ul>
        </nav>
        <ul class="template-categories">
                <li>
    
                    <a class="bachelor" href="../../Template/search/bachelor36d4.php">
                        <img src="../../Assets/templates/cat/bachelor-party.png" width="422" height="300" alt="Bachelor Party t-shirt designs" />
                        <h2>Bachelor Party</h2>
                    </a>
                </li>
                <li>
    
                    <a class="bachelorette" href="../../Template/search/bachelorette5d33.php">
                        <img src="../../Assets/templates/cat/bachelorette-party.png" width="422" height="300" alt="Bachelorette Party t-shirt designs" />
                        <h2>Bachelorette Party</h2>
                    </a>
                </li>
                <li>
    
                    <a class="bat-mitzvah,bar-mitzvah" href="../../Template/search/bat-mitzvah,bar-mitzvahda35.php">
                        <img src="../../Assets/templates/cat/bat-bar-mitzvah.png" width="422" height="300" alt="Bat/Bar Mitzvah t-shirt designs" />
                        <h2>Bat/Bar Mitzvah</h2>
                    </a>
                </li>
                <li>
    
                    <a class="birthday" href="../../Template/search/birthday9835.php">
                        <img src="../../Assets/templates/cat/birthday.png" width="422" height="300" alt="Birthday t-shirt designs" />
                        <h2>Birthday</h2>
                    </a>
                </li>
                <li>
    
                    <a class="family-reunion" href="../../Template/search/family-reunionbd68.php">
                        <img src="../../Assets/templates/cat/family-reunion.png" width="422" height="300" alt="Family Reunion t-shirt designs" />
                        <h2>Family Reunion</h2>
                    </a>
                </li>
                <li>
    
                    <a class="festival" href="../../Template/search/festival3166.php">
                        <img src="../../Assets/templates/cat/festivals.png" width="422" height="300" alt="Festivals t-shirt designs" />
                        <h2>Festivals</h2>
                    </a>
                </li>
                <li>
    
                    <a class="summer-camp" href="../../Template/search/summer-campa209.php">
                        <img src="../../Assets/templates/cat/summer-camp.png" width="422" height="300" alt="Summer Camp t-shirt designs" />
                        <h2>Summer Camp</h2>
                    </a>
                </li>
                <li>
    
                    <a class="wedding" href="../../Template/search/wedding0182.php">
                        <img src="../../Assets/templates/cat/wedding.png" width="422" height="300" alt="Wedding t-shirt designs" />
                        <h2>Wedding</h2>
                    </a>
                </li>
        </ul>
    </div>
	</main>
	<footer class="up-footer">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <!-- facebook page link here -->
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
                                <!-- x.com link here -->
								<a href="#"><img src="../../images/_x_logo_twitter_new_brand_icon.svg" alt=""></a>
                                 <!-- instagram page link here -->
								 <a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								 <!-- pinterest link here -->
								 <a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								 <!-- Youtube link here -->
								 <a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
								 <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
                            </div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>


<script src="../../js/bundles/js/common378a"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>