
<!doctype html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
	<title>Design Ideas for Sports T-Shirts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="t-shirt design ideas,t-shirt templates,t-shirt design help" />
	<meta name="description" content="Get help designing your t-shirt by starting with one of our design templates." />
	<meta name="theme-color" content="#009ddc" />
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
	
	<link rel="icon" type="image/png" href="../../images/frog logo.png">
	<link rel="icon" type="image/svg+xml" href="../../images/frog logo.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../images/frog logo.png">
		<link rel="canonical" href="../../templates.php" />

	

	
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-MCZSSKXLHX');
		</script>

	<link href="../../css/commonbc13.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/main.css">
	
	<link href="../../css/templatesa46c.css" rel="stylesheet"/>

	<style>
        /* Add some basic styling for the dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #77D6DB;
            min-width: 125px;
            min-height: 125;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>

<style>
    .glow-on-hover {
    width: 125px;
    height: auto;
    border: none;
    outline: none;
    color: #000000;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #77D6DB;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #77D6DB;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


  </style>
  

		

	
</head>
<body>
<div class="page-wrapper" canvas="container">

<div class="up-header-wrapper">
	<div id="ddBg" class="wrapper head-menu-bg"></div>
	<header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="logo logo-width-5">
                        <a href="../../index.php"><img src="../../images\GW Title.png" alt="logo"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
							<nav>
                                <ul>
                                    <li>
										<a  href="../../index.php">  <button class="glow-on-hover" type="button">  Home</button></a>
                                    </li>
                                        <li class="dropdown">
											<a href="../../Adult.php"> <button class="glow-on-hover" type="button">  Adult</button></a>
                                            <div class="dropdown-content">
												<a href="../../Adult-Shirt.php">   <button class="glow-on-hover" type="button">  Short-sleeve</button></a>
                                                <br>
												<a href="..//Adult-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
												<a href="../../Adult-Hoodies.php"> <button class="glow-on-hover" type="button">  Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../WOMEN.php"> <button class="glow-on-hover" type="button">  Woman</button></a>
                                            <div class="dropdown-content">
												<a href="../../Women-Shirt.php"> <button class="glow-on-hover" type="button">  Short-sleeve</button></a>
                                                <br>
												<a href="../../women-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
												<a href="../../Women-Hoodies.php"> <button class="glow-on-hover" type="button">  Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../YOUTH.php"> <button class="glow-on-hover" type="button">  Youth</button></a>
                                            <div class="dropdown-content">
                                                <a href="../../Youth-Shirt.php"> <button class="glow-on-hover" type="button"> Short-sleeve</button></a>
                                                <br>
												<a href="../../Youth-Long-Sleeve.php"> <button class="glow-on-hover" type="button">  Long-Sleeve</button></a>
                                                <br>
                                                <a href="../../Youth-Hoodies.php"> <button class="glow-on-hover" type="button"> Hoodies</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../OUR DESIGNS.php"> <button class="glow-on-hover" type="button">  Our Design</button></a>
                                            <div class="dropdown-content">
												<a href="../../#"> <button class="glow-on-hover" type="button">  Option 1</button></a>
                                                <br>
												<a href="../../#">  <button class="glow-on-hover" type="button">  Option 2</button></a>
                                            </div>
                                        </li>
                                        <li class="dropdown">
											<a href="../../Create.php">  <button class="glow-on-hover" type="button">  Create</button></a>
                                           
                                        </li>
                                        <li class="dropdown">
											<a class="active" href="../../TEMPLATES.php">  <button class="glow-on-hover" type="button">  Templates</button></a>
											<div class="dropdown-content">
												<a href="../graphix_wizard/Template/search/popularb31a.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/popular.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Popular</div>
												</button>
											</a>
												
											<a class="active" href="../graphix_wizard/Template/category/sports.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/sports.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Sports</div>
												</button>
											</a>
	 
											<a href="../graphix_wizard/Template/category/event.php">  <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/events.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Events</div>
											   
												</button> </a>
	 
												<a href="../graphix_wizard/Template/category/greek.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/greek.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Greek</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/school.php"> <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/school.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">School</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/holidays.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/holidays.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Holidays</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/occupations.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/occupations.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Occupations</div>
											   
												</button> </a>
	 
												<a href="../graphix_wizard/Template/category/religion.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/religion.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Religion</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/category/vacation.php"> <button class="glow-on-hover" type="button">   
												 <img src="../../Assets/templates/cat/vacation.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Vacation</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/search/funny3f7b.php"> <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/funny.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Funny</div>
												
												</button></a>
	 
												<a href="../graphix_wizard/Template/search/geek81ea.php">  <button class="glow-on-hover" type="button">  
												 <img src="../../Assets/templates/cat/geek.png" alt="Cinque Terre" width="300" height="200">
												 <div class="desc">Geek</div>
											   
												</button> </a>
											 </div>
										</li>
										<li class="dropdown">
											<a href="../../HELP.php"> <button class="glow-on-hover" type="button">  HELP</button></a>
											<div class="dropdown-content">
												<a  href="../../FAQS.php"> <button class="glow-on-hover" type="button">  FAQS</button></a>
												<br>
												<a href="../../SHIPPING.php"> <button class="glow-on-hover" type="button">  SHIPPING</button></a>
												<br>
												<a href="../../RETURNS.php"> <button class="glow-on-hover" type="button">  RETURNS</button></a>
												<br>
												<a href="../../CONTACT.php"> <button class="glow-on-hover" type="button">  CONTACT US</button></a>
											</div>
										</li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                   
                   
                    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
	</header>



	<div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.php" rel="nofollow">Home</a>
                <span></span> Templates
                <span></span> Sports
            </div>
        </div>
    </div>


	<main id="content" class="main wrapper">
		
	<div class="templates">
		<h1 class="u-bar">Sports Design Templates</h1>
		<p>In charge of the teams shirts this year? We&#39;ll help you out with some designs to get you started.</p>
		<nav>
			<ul class="breadcrumbs">
				<li><a href="../../templates.php">All Categories</a></li>
				<li>Sports</li>
			</ul>
		</nav>
		<ul class="template-categories">
				<li>
	
					<a class="baseball" href="../search/baseball0b40.php?cat=9">
						<img src="../../Assets/templates/cat/baseball.png" width="422" height="300" alt="Baseball t-shirt designs" />
						<h2>Baseball</h2>
					</a>
				</li>
				<li>
	
					<a class="basketball" href="../search/basketball25f3.php?cat=3002">
						<img src="../../Assets/templates/cat/basketball.png" width="422" height="300" alt="Basketball t-shirt designs" />
						<h2>Basketball</h2>
					</a>
				</li>
				<li>
	
					<a class="biking" href="../search/biking1cd2.php?cat=10">
						<img src="../../assets/templates/cat/biking.png" width="422" height="300" alt="Biking t-shirt designs" />
						<h2>Biking</h2>
					</a>
				</li>
				<li>
	
					<a class="bowling" href="../search/bowlingde94.php?cat=3034">
						<img src="../../assets/templates/cat/bowling.png" width="422" height="300" alt="Bowling t-shirt designs" />
						<h2>Bowling</h2>
					</a>
				</li>
				<li>
	
					<a class="boxing" href="../search/boxing99ce.php?cat=3021">
						<img src="../../assets/templates/cat/boxing.png" width="422" height="300" alt="Boxing t-shirt designs" />
						<h2>Boxing</h2>
					</a>
				</li>
				<li>
	
					<a class="cheerleading" href="../search/cheerleading29c7.php?cat=11">
						<img src="../../assets/templates/cat/cheerleading.png" width="422" height="300" alt="Cheerleading t-shirt designs" />
						<h2>Cheerleading</h2>
					</a>
				</li>
				<li>
	
					<a class="dance" href="../search/dance5b0d.php?cat=12">
						<img src="../../assets/templates/cat/dance.png" width="422" height="300" alt="Dance t-shirt designs" />
						<h2>Dance</h2>
					</a>
				</li>
				<li>
	
					<a class="fishing" href="../search/fishing6e7b.php?cat=1002">
						<img src="../../assets/templates/cat/fishing.png" width="422" height="300" alt="Fishing t-shirt designs" />
						<h2>Fishing</h2>
					</a>
				</li>
				<li>
	
					<a class="football" href="../search/football938e.php?cat=2002">
						<img src="../../assets/templates/cat/football.png" width="422" height="300" alt="Football t-shirt designs" />
						<h2>Football</h2>
					</a>
				</li>
				<li>
	
					<a class="golf" href="../search/golf5044.php?cat=2003">
						<img src="../../assets/templates/cat/golf.png" width="422" height="300" alt="Golf t-shirt designs" />
						<h2>Golf</h2>
					</a>
				</li>
				<li>
	
					<a class="hiking" href="../search/hiking70b2.php?cat=3043">
						<img src="../../assets/templates/cat/hiking.png" width="422" height="300" alt="Hiking t-shirt designs" />
						<h2>Hiking</h2>
					</a>
				</li>
				<li>
	
					<a class="hockey" href="../search/hockeydc8c.php?cat=3030">
						<img src="../../assets/templates/cat/hockey.png" width="422" height="300" alt="Hockey t-shirt designs" />
						<h2>Hockey</h2>
					</a>
				</li>
				<li>
	
					<a class="horseback-riding" href="../search/horseback-riding7194.php?cat=3031">
						<img src="../../assets/templates/cat/horseback-riding.png" width="422" height="300" alt="Horseback Riding t-shirt designs" />
						<h2>Horseback Riding</h2>
					</a>
				</li>
				<li>
	
					<a class="karate,martial-arts" href="../search/karate%2cmartial-arts6db4.php?cat=3029">
						<img src="../../assets/templates/cat/karate-martial-arts.png" width="422" height="300" alt="Karate/Martial Arts t-shirt designs" />
						<h2>Karate/Martial Arts</h2>
					</a>
				</li>
				<li>
	
					<a class="kickball" href="../search/kickballfcb2.php?cat=3028">
						<img src="../../assets/templates/cat/kickball.png" width="422" height="300" alt="Kickball t-shirt designs" />
						<h2>Kickball</h2>
					</a>
				</li>
				<li>
	
					<a class="lacrosse" href="../search/lacrosseb8c3.php?cat=2006">
						<img src="../../assets/templates/cat/lacrosse.png" width="422" height="300" alt="Lacrosse t-shirt designs" />
						<h2>Lacrosse</h2>
					</a>
				</li>
				<li>
	
					<a class="rock-climbing" href="../search/rock-climbing5d4c.php?cat=2008">
						<img src="../../assets/templates/cat/rock-climbing.png" width="422" height="300" alt="Rock Climbing t-shirt designs" />
						<h2>Rock Climbing</h2>
					</a>
				</li>
				<li>
	
					<a class="running" href="../search/running5035.php?cat=2009">
						<img src="../../assets/templates/cat/running.png" width="422" height="300" alt="Running t-shirt designs" />
						<h2>Running</h2>
					</a>
				</li>
				<li>
	
					<a class="skateboarding" href="../search/skateboarding3274.php?cat=2010">
						<img src="../../assets/templates/cat/skateboarding.png" width="422" height="300" alt="Skateboarding t-shirt designs" />
						<h2>Skateboarding</h2>
					</a>
				</li>
				<li>
	
					<a class="skiing" href="../search/skiing89a2.php?cat=2011">
						<img src="../../assets/templates/cat/skiing.png" width="422" height="300" alt="Skiing t-shirt designs" />
						<h2>Skiing</h2>
					</a>
				</li>
				<li>
	
					<a class="soccer" href="../search/socceracd3.php?cat=2012">
						<img src="../../assets/templates/cat/soccer.png" width="422" height="300" alt="Soccer t-shirt designs" />
						<h2>Soccer</h2>
					</a>
				</li>
				<li>
	
					<a class="softball" href="../search/softball8d2c.php?cat=2013">
						<img src="../../assets/templates/cat/softball.png" width="422" height="300" alt="Softball t-shirt designs" />
						<h2>Softball</h2>
					</a>
				</li>
				<li>
	
					<a class="surfing" href="../search/surfing847b.php?cat=2014">
						<img src="../../assets/templates/cat/surfing.png" width="422" height="300" alt="Surfing t-shirt designs" />
						<h2>Surfing</h2>
					</a>
				</li>
				<li>
	
					<a class="swimming" href="../search/swimmingbbec.php?cat=2015">
						<img src="../../assets/templates/cat/swimming.png" width="422" height="300" alt="Swimming t-shirt designs" />
						<h2>Swimming</h2>
					</a>
				</li>
				<li>
	
					<a class="tennis" href="../search/tennis6816.php?cat=2016">
						<img src="../../assets/templates/cat/tennis.png" width="422" height="300" alt="Tennis t-shirt designs" />
						<h2>Tennis</h2>
					</a>
				</li>
				<li>
	
					<a class="track,cross-country" href="../search/track%2ccross-countryf612.php?cat=3027">
						<img src="../../assets/templates/cat/track-cross-country.png" width="422" height="300" alt="Track/Cross Country t-shirt designs" />
						<h2>Track/Cross Country</h2>
					</a>
				</li>
				<li>
	
					<a class="volleyball" href="../search/volleyball0431.php?cat=2017">
						<img src="../../assets/templates/cat/volleyball.png" width="422" height="300" alt="Volleyball t-shirt designs" />
						<h2>Volleyball</h2>
					</a>
				</li>
				<li>
	
					<a class="workout" href="../search/workoutae57.php?cat=2018">
						<img src="../../assets/templates/cat/workout.png" width="422" height="300" alt="Workout t-shirt designs" />
						<h2>Workout</h2>
					</a>
				</li>
				<li>
	
					<a class="yoga" href="../search/yoga347b.php?cat=2019">
						<img src="../../assets/templates/cat/yoga.png" width="422" height="300" alt="Yoga t-shirt designs" />
						<h2>Yoga</h2>
					</a>
				</li>
		</ul>
	</div>
	
		</main>	<footer class="up-footer">
		
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="widget-about font-md mb-md-5 mb-lg-0">
							<div class="logo logo-width-1 wow fadeIn animated">
								<a href="../../index.php"><img src="../../images\frog logo.png" alt="logo"></a>
							</div>
							<h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<p class="wow fadeIn animated">
							</p>
							<h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
							<div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <!-- facebook page link here -->
								<a href="#"><img src="../../images/icon-facebook.svg" alt=""></a>
                                <!-- x.com link here -->
								<a href="#"><img src="../../images/_x_logo_twitter_new_brand_icon.svg" alt=""></a>
                                 <!-- instagram page link here -->
								 <a href="#"><img src="../../images/icon-instagram.svg" alt=""></a>
								 <!-- pinterest link here -->
								 <a href="#"><img src="../../images/icon-pinterest.svg" alt=""></a>
								 <!-- Youtube link here -->
								 <a href="#"><img src="../../images/icon-youtube.svg" alt=""></a>
								 <div>Copyright &copy; 2023 Grafix Wizard, Inc.</div>
                            </div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3">
						
						<ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
							<li><a href="../../index.php">HOME</a></li>
							<li><a href="../../Adult.php">ADULT</a></li>
							<li><a href="../../WOMEN.php">WOMEN</a></li>
							<li><a href="../../YOUTH.php">YOUTH</a></li>
							
						</ul>
					</div>
					<div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../OUR DESIGNS.php">OUR DESIGNS</a></li>
							<li><a href="../../Create.php">DESIGN STUDIO</a></li>
							<li><a href="../../TEMPLATES.php">TEMPLATES</a></li>
							
						</ul>
					</div>

                    <div class="col-lg-2  col-md-3">
						<ul class="footer-list wow fadeIn animated">
							<li><a href="../../CONTACT.php">CONTACT</a></li>
							<li><a href="../../SHIPPING.php">SHIPPING</a></li>
							<li><a href="../../FAQS.php">FAQS</a></li>
                            <li><a href="../../TERMS OF SALE.php">TERMS OF SALE</a></li>
							
						</ul>
					</div>
					
				</div>
			</div>
		</section>
		<div class="container pb-20 wow fadeIn animated">
			<div class="row">
				<div class="col-12 mb-20">
					<div class="footer-bottom"></div>
				</div>
				<div class="col-lg-6">
					<p class="float-md-left font-sm text-muted mb-0"> </p>
				</div>
				<div class="col-lg-6">
					<p class="text-lg-end text-start font-sm text-muted mb-0">
					</p>
				</div>
			</div>
		</div>
	</footer>

</div>


<script src="../../js/bundles/js/common378a"></script>





	




<!-- Preloader Start -->
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<h5 class="mb-5">Now Loading</h5>
				<div class="loader">
					<div class="bar bar1"></div>
					<div class="bar bar2"></div>
					<div class="bar bar3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Vendor JS-->
<script src="../../js/modernizr-3.6.0.min.js"></script>
<script src="../../js/jquery-3.6.0.min.js"></script>
<script src="../../js/jquery-migrate-3.3.0.min.js"></script>
<script src="../../js/bootstrap.bundle.min.js"></script>
<script src="../../js/slick.js"></script>
<script src="../../js/jquery.syotimer.min.js"></script>
<script src="../../js/wow.js"></script>
<script src="../../js/jquery-ui.js"></script>
<script src="../../js/perfect-scrollbar.js"></script>
<script src="../../js/magnific-popup.js"></script>
<script src="../../js/select2.min.js"></script>
<script src="../../js/waypoints.js"></script>
<script src="../../js/counterup.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/images-loaded.js"></script>
<script src="../../js/isotope.js"></script>
<script src="../../js/scrollup.js"></script>
<script src="../../js/jquery.vticker-min.js"></script>
<script src="../../js/jquery.theia.sticky.js"></script>
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="../../js/main.js"></script>
<script src="../../js/shop.js"></script>




</body>

</html>